.banner-nav {
  background-color: var(--mainColor);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--mainColor)), to(#fff));
  background-image: linear-gradient(var(--mainColor), #fff);
  padding: 32px 0;
}

.banner-nav {
    @include max_991 {
        padding: 12px 0 16px;
    }
}

.nav-item-hotline {
  margin-left: auto;
}
.nav-item-hotline:hover {
  background-color: transparent !important;
}

.shiny-cta {
  line-height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 0 24px;
  color: #fafafa;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-image: -webkit-gradient(linear, left top, right top, from(#333), to(#9b0422));
  background-image: linear-gradient(to right, #333, #9b0422);
  &.style-full {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 12px;
    font-size: 22px;
    gap: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 8px 24px;
    i {
      font-size: 24px;
    }
  }
}
.shiny-cta:hover {
  color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  background-image: -webkit-gradient(linear, right top, left top, from(#333), to(#c7032a));
  background-image: linear-gradient(to left, #333, #c7032a);
}

.inner-right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.inner-right .header-bottom-2 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: rgba(5, 92, 116, 0.7);
  height: 45px;
  border-radius: 0 30px 0 0;
}
.inner-right .header-bottom-2 .container {
  padding: 0;
}
.inner-right .header-bottom-2 .navbar-nav {
  gap: 0 !important;
}
.inner-right .header-bottom-2 .navbar-nav .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.inner-right .header-bottom-2 .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding: 10.5px 10px !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 15px;
}
.inner-right .header-bottom-2 .navbar-nav .nav-item .nav-link span:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.inner-right .header-bottom-2 .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
  font: normal normal normal 12px/1 FontAwesome;
  content: "\f078";
  margin: 0;
  border: none;
}
.inner-right .header-bottom-2 .navbar-nav .nav-item .dropdown-menu {
  border: none;
  border-radius: 0;
}
.inner-right .header-bottom-2 .navbar-nav .nav-item .dropdown-item {
  font-weight: bold;
}
.inner-right .wrapper-banner {
  padding: 12px 0 0 12px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.inner-right .banner_slide.slick-dotted.slick-slider {
  margin-bottom: 0;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
}
.inner-right .banner_slide.slick-dotted.slick-slider .slick-list,
.inner-right .banner_slide.slick-dotted.slick-slider .slick-track {
  height: 100%;
}
.inner-right .banner_slide.slick-dotted.slick-slider .slick-slide {
  padding: 0;
}
.inner-right .banner_slide.slick-dotted.slick-slider .slick-slide a {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.inner-right .banner_slide.slick-dotted.slick-slider .slick-slide a img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.inner-right .navbar {
  padding: 0;
}

#sidebar-category > .header-bottom-2 nav .navbar-nav:first-child {
  display: none; /* ẩn ul đầu tiên khi load */
}

.nav-more {
  display: none; /* ul chứa các item 11+ mặc định ẩn */
}

.sidebar {
  position: relative;
  z-index: 9;
  margin-bottom: 0;
  height: 100%;
  background-color: #fff;
  border-radius: 8px 0 8px 8px;
  // height: 500px;
}
.sidebar h3 {
  background-color: #055c74;
  color: #fff;
  font-size: 18px;
  padding: 12px 16px;
  border-radius: 8px 0 0 0;
  margin-bottom: 0;
  height: 45px;
}
.sidebar .navbar {
  display: block;
  padding: 0;
  width: 100%;
}
.sidebar .navbar-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgb(255, 255, 255);
}
.sidebar .navbar-nav .nav-item .nav-link {
  padding: 8px 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  font-weight: 600;
}
.sidebar .navbar-nav .nav-item .nav-link i {
  color: var(--mainColor);
}
.sidebar .navbar-nav .nav-item .nav-link .icon-img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: -4px;
  margin-right: 8px;
}
.sidebar .navbar-nav .nav-item .nav-link .icon-img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar .navbar-nav .nav-item .nav-link:hover {
  background-color: #dbecf0;
}
.sidebar .navbar-nav .nav-item .nav-link span:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.sidebar .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
  font: normal normal normal 12px/1 FontAwesome;
  content: "\f054";
  margin: 0;
  border: none;
}
.sidebar .navbar-nav .nav-item + .nav-item .nav-link {
  border-top: 1px solid #eee;
}
.sidebar .navbar-nav .dropdown-item {
  font-weight: bold;
}
.sidebar .navbar-nav .dropdown-menu {
  left: 100%;
  top: 0;
  border-radius: 0;
  margin-top: 0;
}
.sidebar .category-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  width: 100%;
  border: none;
  background-color: #fff;
  padding: 12px 8px 8px;
  font-size: 14px;
  text-align: center;
  border-radius: 0 0 8px 8px;
  color: var(--mainColor);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sidebar .category-more:hover {
  background-color: #fafafa;
}
.sidebar .category-more span {
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  top: -1px;
}
.sidebar .category-more span:before, .sidebar .category-more span:after {
  content: "";
  width: 100%;
  height: 1.5px;
  background-color: var(--mainColor);
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sidebar .category-more span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sidebar .category-more.action span:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.section_banner {
  margin-top: 12px;
}
.section_banner .banner_slide .slick-slide {
  padding: 0;
}
// .section_banner .banner_slide .slick-slide a {
//   display: block;
//   padding-top: 40.9%;
//   position: relative;
// }
// .section_banner .banner_slide .slick-slide a img {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   height: 100%;
//   -o-object-fit: cover;
//      object-fit: cover;
// }
.banner-full-width {
  margin-bottom: 0!important;
  .slick-slide {
    padding: 0;
    img {
      margin: auto;
    }
  }
}
.banner_slide .slick-dots li {
  width: 10px;
  height: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.banner_slide .slick-dots li button {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent !important;
  background-color: transparent;
}
.banner_slide .slick-dots li button:before {
  display: block;
  position: relative;
  content: "";
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #034254;
  opacity: 0.7;
}
.banner_slide .slick-dots li.slick-active {
  width: 30px;
}
.banner_slide .slick-dots li.slick-active button {
  background-color: transparent !important;
}
.banner_slide .slick-dots li.slick-active button::before {
  opacity: 1;
}

.item-gallery-thumb {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
}
.item-gallery-thumb:hover {
  background-color: var(--primary) !important;
  color: #fff;
}
.item-gallery-thumb:hover .color-primary {
  color: #fff;
}

.item_frame_header.p-0 {
  padding: 0;
}
@media (max-width: 640px) {
  .item_frame_header.p-0 {
    padding-left: 0;
  }
  .item_frame_header.p-0 .item_frame_title {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 640px) and (max-width: 640px) {
  .item_frame_header.p-0 .item_frame_title {
    padding-bottom: 4px;
  }
}
.item_frame_header.p-0 .nav-arr {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: transparent;
  width: 24px;
}
@media (max-width: 640px) {
  .item_frame_header.p-0 .nav-arr {
    display: none;
  }
}
.item_frame_header.p-0 .nav-arr:hover::before {
  opacity: 0.5;
}
.item_frame_header.p-0 .nav-arr:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 100px;
  pointer-events: none;
}
.item_frame_header.p-0 .nav-arr:before {
  display: block;
  font: normal normal normal 14px/1 FontAwesome;
  height: 24px;
  line-height: 24px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  color: var(--primary);
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 9;
}
.item_frame_header.p-0 .nav-prev {
  left: 0;
}
.item_frame_header.p-0 .nav-prev:before {
  content: "\f104";
}
.item_frame_header.p-0 .nav-prev:after {
  left: 24px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(#fff));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), #fff);
}
.item_frame_header.p-0 .nav-next {
  right: 0;
}
.item_frame_header.p-0 .nav-next:before {
  content: "\f105";
}
.item_frame_header.p-0 .nav-next:after {
  right: 24px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(#fff));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fff);
}
.item_frame_header.p-0 .nav-category {
  position: relative;
}
.item_frame_header.p-0 .menu-slider-wrapper {
  position: relative;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 24px;
}
@media (max-width: 640px) {
  .item_frame_header.p-0 .menu-slider-wrapper {
    padding: 0 12px;
  }
}
.item_frame_header.p-0 .menu-slider-wrapper .menu-scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
@media (min-width: 640px) {
  .item_frame_header.p-0 .menu-slider-wrapper .menu-scroll-container {
    white-space: nowrap;
  }
}
.item_frame_header.p-0 .menu-slider-wrapper .menu-scroll-container::-webkit-scrollbar {
  display: none;
}
.item_frame_header.p-0 .menu-slider-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: visible;
  gap: 8px;
}
.item_frame_header.p-0 .menu-slider-wrapper ul li {
  margin: 0;
}
@media (max-width: 640px) {
  .item_frame_header.p-0 .menu-slider-wrapper ul li {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
.item_frame_header.p-0 .menu-slider-wrapper ul li a {
  font-size: 13px;
  background-color: #f3f4f6;
  display: block;
  border-radius: 4px;
  padding: 4px 12px;
  color: var(--primary);
  font-weight: bold;
  height: 100%;
}
@media (max-width: 640px) {
  .item_frame_header.p-0 .menu-slider-wrapper ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    white-space: wrap;
    padding: 8px;
  }
}
.item_frame_header.p-0 .menu-slider-wrapper ul li a:hover {
  color: #fff !important;
  background-color: var(--primary);
}

.slick-slider .product_list,
.row>.col-6>.product_list {
  margin-top: 0;
  padding: 0;
}

.product_list.slick-slide {
  padding: 4px !important;
  margin-top: 0;
}
@media (max-width: 640px) {
  .product_list .slick-arrow {
    top: 30%;
  }
}
.product_list .product-meta {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product_list .product-meta .product-sale-price {
  color: #000 !important;
  text-decoration: line-through;
  font-size: 14px !important;
}
.product_list .product-meta .product-price {
  color: #e81818;
}
.product_list > .product .inner {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.product_list > .product .inner-prod {
  padding: 8px 0;
}
@media (min-width: 640px) {
  .product_list > .product .list-action {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 9;
    border-radius: 8px 0 0 8px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
@media (max-width: 640px) {
  .product_list > .product .list-action {
    border-radius: 8px 8px 0 0;
    padding: 0 8px;
    margin: 0 -0.5em;
  }
  .product_list > .product .list-action button {
    width: 33.33%;
  }
  .product_list > .product .list-action button + button {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}
.product_list > .product .list-action button {
  position: relative;
}
.product_list > .product .list-action button span {
  background-color: var(--primary);
  padding: 4px 12px;
  position: absolute;
  left: -8px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
  border-radius: 6px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.product_list > .product .list-action button span:before {
  position: absolute;
  content: "";
  left: 100%;
  top: 50%;
  margin-left: -1px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid var(--primary);
}
@media (min-width: 640px) {
  .product_list > .product .list-action button:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .product_list > .product .list-action button:hover span {
    opacity: 1;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
}
.product_list > .product .product-thumbnail:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  z-index: 1;
}
@media (min-width: 640px) {
  .product_list > .product:hover .product-thumbnail img {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  .product_list > .product:hover .product-thumbnail:before {
    opacity: 1;
  }
  .product_list > .product:hover .list-action {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .product_list > .product:hover .inner {
    border-color: var(--primary);
    background-color: #fafafa;
  }
}
.post-item {
  transition: all .5s;
  border: 1px solid #eee;
  .images {
    position: relative;
    .imgDrop {
      &:before {
        background-color: transparent;
        background-image: linear-gradient(to top, rgba(2,64,81,.5), rgba(0,0,0,0));
        z-index: 1;
        @include max_sm {opacity: 1;}
      }
    }
    .icon {
      position: absolute;
      bottom: 8px;
      right: 16px;
      z-index: 9;
      opacity: 0;
      transition: all .5s;
      @include max_sm {
        opacity: 1;
        right: 8px;
      }
    }
  }
  .post-title {
    &::after {
      display: block;
      height: 3px;
      width: 30px;
      content: "";
      background-color: #888;
      margin: 8px 0;
      transition: all .3s;
      @include max_sm {
        display: none;
      }
    }
  }
  .post-title,
  .imgDrop img {
    transition: all .3s;
  }
  // .post-des {
  //   @include max_sm {
  //     display: none;
  //   }
  // }
  &:hover {
    color: #333;
    background-color: rgba(2,130,165,.05);
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    // border-color: var(--primary);
    .images {
      .icon {
        opacity: 1;
        right: 8px;
      }
      .imgDrop {
        img {
          @include min_sm {
            transform: scale(1.05);
          }
        }
        &:before {
          @include min_sm {opacity: 1;}
        }
      }
    }
    .post-text {
      .post-title {
        color: var(--primary);
        &::after {
          background-color: var(--primary);
        }
      }
    }
  }
}
.item_frame_header  {
  &~.slick-slider {
    @include max-sm {
      padding-left: 8px;
      padding-right: 8px;
      margin-top: 8px;
    }
  }
}
.slick-news-2 {
  .slick-slide {
    &>div {
      &:first-child {
        margin-bottom: 0!important;
      }
    }
  }
}
