extends layout/_layout.pug

//- include component/_product_detail.pug

block vars
    - var bodyClass = ''
    - var page = ''
block body 
     section(class="xl:py-70 py-32 bg-white")
        mixin item-gellary()
            div(class="xl:mt-32 mt-24")
                .row.gap-y-24
                    each item in [1,2,3,4,5,6,7,8,9,10,11,12,13,13,15,16,17,18,19,20]
                        .col-6.col-md-4.col-lg-3 
                            a(href=`${item === 1 ? "https://we1.io.vn/admin/public/images/service/1744444200201-Ban-giam-doc.jpg":"https://file.hstatic.net/200000865177/file/banner_product_1_1_7c6e3429f65c4ba3be014ded4b6ecefc.jpg"}`).item-gallery-thumb.bg-light.p-8px.rounded-8.border.border-primary.border-1 
                                .imgDrop.ratio-4-3.rounded-4 
                                    if(item === 1) 
                                        img(src="https://we1.io.vn/admin/public/images/service/1744444200201-Ban-giam-doc.jpg", alt="")
                                    else 
                                        img(src="https://file.hstatic.net/200000865177/file/banner_product_1_1_7c6e3429f65c4ba3be014ded4b6ecefc.jpg", alt="")
                                .content.mt-8px.text-center
                                    .text-14.uppercase.font-bold Máy A50
                                    .text-14  khách lắp tại Sông Lô - Việt Trì
        .container 
            h2.title_section  HÌNH ẢNH LẮP ĐẶT THỰC TẾ
            +item-gellary
            .view_more.text-center.mt-40.position-relative
                a.rounded-pill.py-2.px-4.btn-outline-primary(href='#' title='Xem thêm') Xem thêm

block js 
    //- script(src='js/js-banner.js')
    //- script(src='js/countUp.js')
    script.
        $(document).ready(function(){
            $('.row').slickLightbox({
                itemSelector: 'a',
                //- src: 'img', // lấy ảnh từ <img>
                captions: true,
                caption: function (el) {
                    return $(el).find('.content').html() || '';
                },
                captionPosition: 'bottom'
            });
        });
        