extends ../layout/_layout.pug
include ../component/_product_detail.pug

block vars
    - var bodyClass = ''
    - var page = 'index2'
block body
    .banner_slide.banner-full-width
        div
            a.d-block.w-100.rounded-10(href='#' title='Banner 1')
                picture.block
                    source.img-cover.block(media='(min-width:768px)' srcset='./public/assets/images/banner_pc1.jpg')
                    img.img-cover.block(src='./public/assets/images/banner_sp1.jpg' alt='Flowers' style='width:auto;')
        div
            a.d-block.w-100.rounded-10(href='#' title='Banner 2')
                picture.block
                    source.img-cover(media='(min-width:768px)' srcset='./public/assets/images/banner_pc2.jpg')
                    img.img-cover(src='./public/assets/images/banner_sp2.jpg' alt='Flowers' style='width:auto;')