mixin home_news()
    section.news.section-custom.my-4
        .container
            .row
                .col-lg-6.col-12
                    .position-relative.outstanding
                        img(src='./public/assets/images/anh-cut-1200x628-20-1.png' alt)
                        .info.position-absolute.bottom-0.left-0.right-0.p-3.z-3
                            a(href='#')
                                h4
                                    | Chia sẻ biến động số dư là gì? Tại sao các cửa hàng kinh doanh nên quan tâm tới chia sẻ biến động số dư?
                            p
                                | Chia sẻ biến động số dư là cách nhanh nhất và đảm bảo nhất trong Chia sẻ biến động số dư là cách nhanh nhất và đảm bảo nhất trong Chia sẻ biến động số dư là cách nhanh nhất và đảm bảo nhất trong
                .col-lg-6.col-12.mt-3.mt-lg-0
                    .row.mb-3.right-item
                        .col-4
                            img(src='./public/assets/images/anh-nen-itrack.png' alt)
                        .col-8
                            a(href='#')
                                h5 Chia sẻ biến động số dư là gì?
                            p
                                | Chia sẻ biến động số dư là cách nhanh nhất và đảm bảo nhất trong ...
                    .row.mb-3.right-item
                        .col-4
                            img(src='./public/assets/images/anh-nen-itrack.png' alt)
                        .col-8
                            a(href='#')
                                h5 Chia sẻ biến động số dư là gì?
                            p
                                | Chia sẻ biến động số dư là cách nhanh nhất và đảm bảo nhất trong ...
                    .row.right-item
                        .col-4
                            img(src='./public/assets/images/anh-nen-itrack.png' alt)
                        .col-8
                            a(href='#')
                                h5 Chia sẻ biến động số dư là gì?
                            p
                                | Chia sẻ biến động số dư là cách nhanh nhất và đảm bảo nhất trong ...