mixin home_product_poli_wrap()
    section.product_poli_wrap.my-3.mb-lg-4.bg-white
        .container
            .d-flex.flex-category.justify-content-between.flex-wrap.flex-lg-nowrap.gap-2.gap-md-3
                a.d-flex.align-items-center.flex-column(href='/' title='Nhanh 2h')
                    .b_img
                        picture.position-relative.w-100.m-0.ratio1by1.d-block.aspect
                            img(src='https://file.hstatic.net/200000865177/file/nowfree_513b2ec1e3024e059445b92324914bf2.png' alt='icon-Nhanh 2h' decoding='async' width='56' height='56')
                    .text-dark.text-sm.mt-1.mt-lg-2.text-center.px-2.px-sm-3.px-lg-2.px-xl-3
                        | Nhanh 2h
                a.d-flex.align-items-center.flex-column(href='/' title='Black friday')
                    .b_img
                        picture.position-relative.w-100.m-0.ratio1by1.d-block.aspect
                            img(src='https://file.hstatic.net/200000865177/file/sale_5eb6a0dd045e420e9daad3f353936fac.png' alt='icon-Black friday' decoding='async' width='56' height='56')
                    .text-dark.text-sm.mt-1.mt-lg-2.text-center.px-2.px-sm-3.px-lg-2.px-xl-3
                        | Black friday
                a.d-flex.align-items-center.flex-column(href='/' title='Black friday')
                    .b_img
                        picture.position-relative.w-100.m-0.ratio1by1.d-block.aspect
                            img(src='https://file.hstatic.net/200000865177/file/clinic_2e51294864a347a78908df08db7bcc51.png' alt='icon-Kiên thức làm đẹp' decoding='async' width='56' height='56')
                    .text-dark.text-sm.mt-1.mt-lg-2.text-center.px-2.px-sm-3.px-lg-2.px-xl-3
                        | Kiên thức làm đẹp
                a.d-flex.align-items-center.flex-column(href='/' title='Quà tặng hấp dẫn')
                    .b_img
                        picture.position-relative.w-100.m-0.ratio1by1.d-block.aspect
                            img(src='https://file.hstatic.net/200000865177/file/qua_3f19e707c2bf45cca9f904d65ec4cb2b.png' alt='icon-Quà tặng hấp dẫn' decoding='async' width='56' height='56')
                    .text-dark.text-sm.mt-1.mt-lg-2.text-center.px-2.px-sm-3.px-lg-2.px-xl-3
                        | Quà tặng hấp dẫn
                a.d-flex.align-items-center.flex-column(href='/' title='Cam kết chính hãng')
                    .b_img
                        picture.position-relative.w-100.m-0.ratio1by1.d-block.aspect
                            img(src='https://file.hstatic.net/200000865177/file/tin-tuc_2a55449f9ff747f1a3800be59a85b205.png' alt='icon-Cam kết chính hãng' decoding='async' width='56' height='56')
                    .text-dark.text-sm.mt-1.mt-lg-2.text-center.px-2.px-sm-3.px-lg-2.px-xl-3
                        | Cam kết chính hãng
                a.d-flex.align-items-center.flex-column(href='/' title='Bán chạy')
                    .b_img
                        picture.position-relative.w-100.m-0.ratio1by1.d-block.aspect
                            img(src='https://file.hstatic.net/200000865177/file/ban-chay_92db6d14baa449469aacf342bfa4b0d0.png' alt='icon-Bán chạy' decoding='async' width='56' height='56')
                    .text-dark.text-sm.mt-1.mt-lg-2.text-center.px-2.px-sm-3.px-lg-2.px-xl-3
                        | Bán chạy
                a.d-flex.align-items-center.flex-column(href='/' title='Tạp chí Mew')
                    .b_img
                        picture.position-relative.w-100.m-0.ratio1by1.d-block.aspect
                            img(src='https://file.hstatic.net/200000865177/file/cam-nang_7b1c2041fc624dbbb73509f39a24a55f.png' alt='icon-Tạp chí Mew' decoding='async' width='56' height='56')
                    .text-dark.text-sm.mt-1.mt-lg-2.text-center.px-2.px-sm-3.px-lg-2.px-xl-3
                        | Tạp chí Mew
                a.d-flex.align-items-center.flex-column(href='/' title='Sự kiện')
                    .b_img
                        picture.position-relative.w-100.m-0.ratio1by1.d-block.aspect
                            img(src='https://file.hstatic.net/200000865177/file/dat-hen_33a29749aebe4ceeb3e9ae872092b74c.png' alt='icon-Sự kiện' decoding='async' width='56' height='56')
                    .text-dark.text-sm.mt-1.mt-lg-2.text-center.px-2.px-sm-3.px-lg-2.px-xl-3
                        | Sự kiện