mixin home_banner3()
    section
        .container
            .slide_banner-3
                .mx-2.custom-article-item.position-relative.rounded-10.modal-open
                    a.d-block.position-relative.rounded-3.overflow-hidden(href='/blogs/news/glycerin-hop-chat-quoc-dan-trong-duo-ng-da-dem-lai-nhieu-cong-dung' title='Glycerin - Hợp chất “quốc dân” trong dưỡng da đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da')
                        .position-relative.w-100.m-0.aspect.zoom
                            img.w-100.img-cover(src='https://file.hstatic.net/200000865177/article/glycerin_d13bf7aa960444cc95a47d23ca3cd16f_grande.jpg' alt='Glycerin - Hợp chất “quốc dân” trong dưỡng da đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da')
                        small.position-absolute.bottom-0.left-0.px-2.py-1.text-light.bg-main.rounded-top 15/04/24
                    .custom-article-item_info.mt-2
                        h6.mb-2
                            a.text-dark.fw-bold.h-auto(href='/blogs/news/glycerin-hop-chat-quoc-dan-trong-duo-ng-da-dem-lai-nhieu-cong-dung' title='Glycerin - Hợp chất “quốc dân” trong dưỡng da đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da')
                                | Glycerin - Hợp chất “quốc dân” trong dưỡng da đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da
                        p.mb-0
                            | Glycerin là hợp chất phổ biến trong các sản phẩm làm đẹp vì đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da. Vậy glycerin là gì ...
                .mx-2.custom-article-item.position-relative.rounded-10.modal-open
                    a.d-block.position-relative.rounded-3.overflow-hidden(href='/blogs/news/glycerin-hop-chat-quoc-dan-trong-duo-ng-da-dem-lai-nhieu-cong-dung' title='Glycerin - Hợp chất “quốc dân” trong dưỡng da đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da')
                        .position-relative.w-100.m-0.aspect.zoom
                            img.w-100.img-cover(src='https://file.hstatic.net/200000865177/article/glycerin_d13bf7aa960444cc95a47d23ca3cd16f_grande.jpg' alt='Glycerin - Hợp chất “quốc dân” trong dưỡng da đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da')
                        small.position-absolute.bottom-0.left-0.px-2.py-1.text-light.bg-main.post-rounded-end 15/04/24
                    .custom-article-item_info.mt-2
                        h6.mb-2
                            a.text-dark.fw-bold.h-auto(href='/blogs/news/glycerin-hop-chat-quoc-dan-trong-duo-ng-da-dem-lai-nhieu-cong-dung' title='Glycerin - Hợp chất “quốc dân” trong dưỡng da đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da')
                                | Glycerin - Hợp chất “quốc dân” trong dưỡng da đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da
                        p.mb-0
                            | Glycerin là hợp chất phổ biến trong các sản phẩm làm đẹp vì đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da. Vậy glycerin là gì ...
                .mx-2.custom-article-item.position-relative.rounded-10.modal-open
                    a.d-block.position-relative.rounded-3.overflow-hidden(href='/blogs/news/glycerin-hop-chat-quoc-dan-trong-duo-ng-da-dem-lai-nhieu-cong-dung' title='Glycerin - Hợp chất “quốc dân” trong dưỡng da đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da')
                        .position-relative.w-100.m-0.aspect.zoom
                            img.w-100.img-cover(src='https://file.hstatic.net/200000865177/article/glycerin_d13bf7aa960444cc95a47d23ca3cd16f_grande.jpg' alt='Glycerin - Hợp chất “quốc dân” trong dưỡng da đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da')
                        small.position-absolute.bottom-0.left-0.px-2.py-1.text-light.bg-main.post-rounded-end 15/04/24
                    .custom-article-item_info.mt-2
                        h6.mb-2
                            a.text-dark.fw-bold.h-auto(href='/blogs/news/glycerin-hop-chat-quoc-dan-trong-duo-ng-da-dem-lai-nhieu-cong-dung' title='Glycerin - Hợp chất “quốc dân” trong dưỡng da đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da')
                                | Glycerin - Hợp chất “quốc dân” trong dưỡng da đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da
                        p.mb-0
                            | Glycerin là hợp chất phổ biến trong các sản phẩm làm đẹp vì đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da. Vậy glycerin là gì ...
                .mx-2.custom-article-item.position-relative.rounded-10.modal-open
                    a.d-block.position-relative.rounded-3.overflow-hidden(href='/blogs/news/glycerin-hop-chat-quoc-dan-trong-duo-ng-da-dem-lai-nhieu-cong-dung' title='Glycerin - Hợp chất “quốc dân” trong dưỡng da đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da')
                        .position-relative.w-100.m-0.aspect.zoom
                            img.w-100.img-cover(src='https://file.hstatic.net/200000865177/article/glycerin_d13bf7aa960444cc95a47d23ca3cd16f_grande.jpg' alt='Glycerin - Hợp chất “quốc dân” trong dưỡng da đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da')
                        small.position-absolute.bottom-0.left-0.px-2.py-1.text-light.bg-main.post-rounded-end 15/04/24
                    .custom-article-item_info.mt-2
                        h6.mb-2
                            a.text-dark.fw-bold.h-auto(href='/blogs/news/glycerin-hop-chat-quoc-dan-trong-duo-ng-da-dem-lai-nhieu-cong-dung' title='Glycerin - Hợp chất “quốc dân” trong dưỡng da đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da')
                                | Glycerin - Hợp chất “quốc dân” trong dưỡng da đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da
                        p.mb-0
                            | Glycerin là hợp chất phổ biến trong các sản phẩm làm đẹp vì đem lại nhiều công dụng tích cực cho việc điều trị và tái tạo tế bào da. Vậy glycerin là gì ...