mixin home_blog_list()
    section.blog_list.blog_list-image.py-5
        .container.title_section(style='margin-bottom: 0; color: #212529 !important; text-align: center;')
            p MỘT SỐ CÔNG TRÌNH TIÊU BIỂU
        .container
            .row.justify-content-center
                .col-8
                    p(style='text-align: center;')
                        i
            .row.list-image
                .col-3.image-link.mb-3.mb-md-4.h-100(data-image-src='https://vip2.io.vn/admin/public/images/homeSetting/173423297373/CÔNG TRÌNH ĐÃ THI CÔNG XONG 1.jpg')
                    a(href='https://vip2.io.vn/admin/public/images/homeSetting/173423297373/CÔNG TRÌNH ĐÃ THI CÔNG XONG 1.jpg')
                        img.w-100.shadow-1-strong(loading='lazy' src='https://vip2.io.vn/admin/public/images/homeSetting/173423297373/CÔNG TRÌNH ĐÃ THI CÔNG XONG 1.jpg' style='border-radius: 8px;' alt='image')
                .col-3.image-link.mb-3.mb-md-4.h-100(data-image-src='https://vip2.io.vn/admin/public/images/homeSetting/173423297336/CÔNG TRÌNH ĐÃ THI CÔNG XONG 2.jpg')
                    a(href='https://vip2.io.vn/admin/public/images/homeSetting/173423297336/CÔNG TRÌNH ĐÃ THI CÔNG XONG 2.jpg')
                        img.w-100.shadow-1-strong(loading='lazy' src='https://vip2.io.vn/admin/public/images/homeSetting/173423297336/CÔNG TRÌNH ĐÃ THI CÔNG XONG 2.jpg' style='border-radius: 8px;' alt='image')
                .col-3.image-link.mb-3.mb-md-4.h-100(data-image-src='https://vip2.io.vn/admin/public/images/homeSetting/173423297356/CÔNG TRÌNH ĐÃ THI CÔNG XONG 3.jpg')
                    a(href='https://vip2.io.vn/admin/public/images/homeSetting/173423297356/CÔNG TRÌNH ĐÃ THI CÔNG XONG 3.jpg')
                        img.w-100.shadow-1-strong(loading='lazy' src='https://vip2.io.vn/admin/public/images/homeSetting/173423297356/CÔNG TRÌNH ĐÃ THI CÔNG XONG 3.jpg' style='border-radius: 8px;' alt='image')
                .col-3.image-link.mb-3.mb-md-4.h-100(data-image-src='https://vip2.io.vn/admin/public/images/homeSetting/173423297323/CÔNG TRÌNH ĐÃ THI CÔNG XONG 4.jpg')
                    a(href='https://vip2.io.vn/admin/public/images/homeSetting/173423297323/CÔNG TRÌNH ĐÃ THI CÔNG XONG 4.jpg')
                        img.w-100.shadow-1-strong(loading='lazy' src='https://vip2.io.vn/admin/public/images/homeSetting/173423297323/CÔNG TRÌNH ĐÃ THI CÔNG XONG 4.jpg' style='border-radius: 8px;' alt='image')
                .col-3.image-link.mb-3.mb-md-4.h-100(data-image-src='https://vip2.io.vn/admin/public/images/homeSetting/173423297371/MỘT SỐ HÌNH ẢNH THỢ THI CÔNG 1.jpg')
                    a(href='https://vip2.io.vn/admin/public/images/homeSetting/173423297371/MỘT SỐ HÌNH ẢNH THỢ THI CÔNG 1.jpg')
                        img.w-100.shadow-1-strong(loading='lazy' src='https://vip2.io.vn/admin/public/images/homeSetting/173423297371/MỘT SỐ HÌNH ẢNH THỢ THI CÔNG 1.jpg' style='border-radius: 8px;' alt='image')
                .col-3.image-link.mb-3.mb-md-4.h-100(data-image-src='https://vip2.io.vn/admin/public/images/homeSetting/1734232973100/MỘT SỐ HÌNH ẢNH THỢ THI CÔNG 2.jpg')
                    a(href='https://vip2.io.vn/admin/public/images/homeSetting/1734232973100/MỘT SỐ HÌNH ẢNH THỢ THI CÔNG 2.jpg')
                        img.w-100.shadow-1-strong(loading='lazy' src='https://vip2.io.vn/admin/public/images/homeSetting/1734232973100/MỘT SỐ HÌNH ẢNH THỢ THI CÔNG 2.jpg' style='border-radius: 8px;' alt='image')
                .col-3.image-link.mb-3.mb-md-4.h-100(data-image-src='https://vip2.io.vn/admin/public/images/homeSetting/173423297373/MỘT SỐ HÌNH ẢNH THỢ THI CÔNG 3.jpg')
                    a(href='https://vip2.io.vn/admin/public/images/homeSetting/173423297373/MỘT SỐ HÌNH ẢNH THỢ THI CÔNG 3.jpg')
                        img.w-100.shadow-1-strong(loading='lazy' src='https://vip2.io.vn/admin/public/images/homeSetting/173423297373/MỘT SỐ HÌNH ẢNH THỢ THI CÔNG 3.jpg' style='border-radius: 8px;' alt='image')
                .col-3.image-link.mb-3.mb-md-4.h-100(data-image-src='https://vip2.io.vn/admin/public/images/homeSetting/173423297372/MỘT SỐ HÌNH ẢNH THỢ THI CÔNG 4.jpg')
                    a(href='https://vip2.io.vn/admin/public/images/homeSetting/173423297372/MỘT SỐ HÌNH ẢNH THỢ THI CÔNG 4.jpg')
                        img.w-100.shadow-1-strong(loading='lazy' src='https://vip2.io.vn/admin/public/images/homeSetting/173423297372/MỘT SỐ HÌNH ẢNH THỢ THI CÔNG 4.jpg' style='border-radius: 8px;' alt='image')
                .col-3.image-link.mb-3.mb-md-4.h-100(data-image-src='https://vip2.io.vn/admin/public/images/homeSetting/173423297355/MỘT SỐ HÌNH ẢNH THỢ THI CÔNG 5.jpg')
                    a(href='https://vip2.io.vn/admin/public/images/homeSetting/173423297355/MỘT SỐ HÌNH ẢNH THỢ THI CÔNG 5.jpg')
                        img.w-100.shadow-1-strong(loading='lazy' src='https://vip2.io.vn/admin/public/images/homeSetting/173423297355/MỘT SỐ HÌNH ẢNH THỢ THI CÔNG 5.jpg' style='border-radius: 8px;' alt='image')
                .col-3.image-link.mb-3.mb-md-4.h-100(data-image-src='https://vip2.io.vn/admin/public/images/homeSetting/173423297356/MỘT-SỐ-HÌNH-ẢNH-THỢ-THI-CÔNG-6.jpg')
                    a(href='https://vip2.io.vn/admin/public/images/homeSetting/173423297356/MỘT-SỐ-HÌNH-ẢNH-THỢ-THI-CÔNG-6.jpg')
                        img.w-100.shadow-1-strong(loading='lazy' src='https://vip2.io.vn/admin/public/images/homeSetting/173423297356/MỘT-SỐ-HÌNH-ẢNH-THỢ-THI-CÔNG-6.jpg' style='border-radius: 8px;' alt='image')