mixin home_category-featured()
    section.py-2(style='background-color: rgb(238, 235, 235);')
        .container
            h3.title.font-weight-bold.position-relative.py-4.mb-3.text-center
                span.line-bottom.position-relative Danh mục nổi bật
            .slick-category.slick-category-design
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/174444303697xac-xe-may.jpg' alt='Thực phẩm chức năng')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Thực phẩm chức năng
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/174444424572-su-menh.jpg' alt='Chăm sóc răng miệng')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Chăm sóc răng miệng
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/1744444200201-Ban-giam-doc.jpg' alt='Chăm sóc phụ nữ')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Chăm sóc phụ nữ
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/1744444273803-Tam-nhin.jpg' alt='Hỗ trợ trị mụn')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Hỗ trợ trị mụn
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/duong-toc')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/1744444305434-gia-tri-cot-loi.jpg' alt='Serum - Dưỡng tóc')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/duong-toc') Serum - Dưỡng tóc
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/trang-diem-mat-1')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744794695194-Máy-giặt-10kg.jpg' alt='Trang điểm mặt')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/trang-diem-mat-1') Trang điểm mặt
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744794129111-cong-to-dien-thong-minh.jpg' alt='Khử mùi')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Khử mùi
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/dau-goi-dau-xa')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744795153305-xac-xe-may-dien-1.jpg' alt='Dầu gội, dầu xả')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/dau-goi-dau-xa') Dầu gội, dầu xả
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/sua-tam')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/174479490026Sạc-pin-điện-thoại-thanh-toán-QR-1.jpg' alt='Sữa tắm')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/sua-tam') Sữa tắm
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/cham-soc-body')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744794434333-Đồng-hồ-nước-thông-minh.jpg' alt='Chăm sóc body')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/cham-soc-body') Chăm sóc body
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/nuoc-can-bang')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744795751257-tram-sac-oto-2.jpg' alt='Toner - Nước cân bằng da')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/nuoc-can-bang') Toner - Nước cân bằng da
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/nuoc-hoa-xit-thom-body')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744794604874-Máy-giặt-10kg.jpg' alt='Nước hoa')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/nuoc-hoa-xit-thom-body') Nước hoa

mixin home_category-featured8()
    section.py-2(style='background-color: rgb(233, 232, 232);')
        .container
            h3.title.font-weight-bold.position-relative.py-4.mb-3.text-center
                span.line-bottom.position-relative Danh mục nổi bật 8
            .slick-category-design.slick-category-8
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/174444303697xac-xe-may.jpg' alt='Thực phẩm chức năng')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Thực phẩm chức năng
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/174444424572-su-menh.jpg' alt='Chăm sóc răng miệng')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Chăm sóc răng miệng
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/1744444200201-Ban-giam-doc.jpg' alt='Chăm sóc phụ nữ')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Chăm sóc phụ nữ
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/1744444273803-Tam-nhin.jpg' alt='Hỗ trợ trị mụn')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Hỗ trợ trị mụn
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/duong-toc')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/1744444305434-gia-tri-cot-loi.jpg' alt='Serum - Dưỡng tóc')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/duong-toc') Serum - Dưỡng tóc
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/trang-diem-mat-1')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744794695194-Máy-giặt-10kg.jpg' alt='Trang điểm mặt')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/trang-diem-mat-1') Trang điểm mặt
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744794129111-cong-to-dien-thong-minh.jpg' alt='Khử mùi')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Khử mùi
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/dau-goi-dau-xa')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744795153305-xac-xe-may-dien-1.jpg' alt='Dầu gội, dầu xả')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/dau-goi-dau-xa') Dầu gội, dầu xả
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/sua-tam')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/174479490026Sạc-pin-điện-thoại-thanh-toán-QR-1.jpg' alt='Sữa tắm')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/sua-tam') Sữa tắm
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/cham-soc-body')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744794434333-Đồng-hồ-nước-thông-minh.jpg' alt='Chăm sóc body')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/cham-soc-body') Chăm sóc body
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/nuoc-can-bang')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744795751257-tram-sac-oto-2.jpg' alt='Toner - Nước cân bằng da')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/nuoc-can-bang') Toner - Nước cân bằng da
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/nuoc-hoa-xit-thom-body')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744794604874-Máy-giặt-10kg.jpg' alt='Nước hoa')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/nuoc-hoa-xit-thom-body') Nước hoa                       

mixin home_category-featured6() 
    section.py-2(style='background-color: rgb(235, 235, 235);')
        .container
            h3.title.font-weight-bold.position-relative.py-4.mb-3.text-center
                span.line-bottom.position-relative Danh mục nổi bật 6
            .slick-category-design.slick-category-6
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/174444303697xac-xe-may.jpg' alt='Thực phẩm chức năng')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Thực phẩm chức năng
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/174444424572-su-menh.jpg' alt='Chăm sóc răng miệng')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Chăm sóc răng miệng
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/1744444200201-Ban-giam-doc.jpg' alt='Chăm sóc phụ nữ')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Chăm sóc phụ nữ
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/1744444273803-Tam-nhin.jpg' alt='Hỗ trợ trị mụn')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Hỗ trợ trị mụn
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/duong-toc')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/1744444305434-gia-tri-cot-loi.jpg' alt='Serum - Dưỡng tóc')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/duong-toc') Serum - Dưỡng tóc
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/trang-diem-mat-1')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744794695194-Máy-giặt-10kg.jpg' alt='Trang điểm mặt')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/trang-diem-mat-1') Trang điểm mặt
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744794129111-cong-to-dien-thong-minh.jpg' alt='Khử mùi')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Khử mùi
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/dau-goi-dau-xa')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744795153305-xac-xe-may-dien-1.jpg' alt='Dầu gội, dầu xả')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/dau-goi-dau-xa') Dầu gội, dầu xả
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/sua-tam')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/174479490026Sạc-pin-điện-thoại-thanh-toán-QR-1.jpg' alt='Sữa tắm')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/sua-tam') Sữa tắm
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/cham-soc-body')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744794434333-Đồng-hồ-nước-thông-minh.jpg' alt='Chăm sóc body')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/cham-soc-body') Chăm sóc body
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/nuoc-can-bang')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744795751257-tram-sac-oto-2.jpg' alt='Toner - Nước cân bằng da')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/nuoc-can-bang') Toner - Nước cân bằng da
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/nuoc-hoa-xit-thom-body')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744794604874-Máy-giặt-10kg.jpg' alt='Nước hoa')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/nuoc-hoa-xit-thom-body') Nước hoa


mixin home_category-featured6_2() 
    section.py-2(style='background-color: rgb(233, 227, 227);')
        .container
            h3.title.font-weight-bold.position-relative.py-4.mb-3.text-center
                span.line-bottom.position-relative Danh mục nổi bật 6 x 2
            .slick-category-design.slick-category-6-2
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/174444303697xac-xe-may.jpg' alt='Thực phẩm chức năng')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Thực phẩm chức năng
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/174444424572-su-menh.jpg' alt='Chăm sóc răng miệng')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Chăm sóc răng miệng
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/1744444200201-Ban-giam-doc.jpg' alt='Chăm sóc phụ nữ')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Chăm sóc phụ nữ
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/1744444273803-Tam-nhin.jpg' alt='Hỗ trợ trị mụn')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Hỗ trợ trị mụn
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/duong-toc')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/service/1744444305434-gia-tri-cot-loi.jpg' alt='Serum - Dưỡng tóc')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/duong-toc') Serum - Dưỡng tóc
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/trang-diem-mat-1')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744794695194-Máy-giặt-10kg.jpg' alt='Trang điểm mặt')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/trang-diem-mat-1') Trang điểm mặt
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744794129111-cong-to-dien-thong-minh.jpg' alt='Khử mùi')
                        a.text-dark.text-decoration-none.small.d-block(href='/') Khử mùi
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/dau-goi-dau-xa')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744795153305-xac-xe-may-dien-1.jpg' alt='Dầu gội, dầu xả')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/dau-goi-dau-xa') Dầu gội, dầu xả
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/sua-tam')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/174479490026Sạc-pin-điện-thoại-thanh-toán-QR-1.jpg' alt='Sữa tắm')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/sua-tam') Sữa tắm
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/cham-soc-body')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744794434333-Đồng-hồ-nước-thông-minh.jpg' alt='Chăm sóc body')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/cham-soc-body') Chăm sóc body
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/nuoc-can-bang')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744795751257-tram-sac-oto-2.jpg' alt='Toner - Nước cân bằng da')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/nuoc-can-bang') Toner - Nước cân bằng da
                div
                    .category-item.text-center.p-1
                        a.d-block.mb-2.rounded.overflow-hidden.position-relative(href='/collections/nuoc-hoa-xit-thom-body')
                            img.img-fluid.rounded(src='https://we1.io.vn/admin/public/images/product/1744794604874-Máy-giặt-10kg.jpg' alt='Nước hoa')
                        a.text-dark.text-decoration-none.small.d-block(href='/collections/nuoc-hoa-xit-thom-body') Nước hoa