
mixin product_item(clname)
    .product_list.item_frame(class=`${clname}`)
        .product.is-sale.header-boder-color
            .inner.p-2.rounded-3
                a.product-thumbnail(href='#')
                    img.rounded-3(loading='lazy' width='255' height='330' src='./public/assets/images/google-shopping-gel-rua-mat-svr_2594e470c0fa42fca3e91b69bfcf1df7_large.png' alt='Điểm danh AI - Nhận diện khuôn mặt AI')
                .list-action.bg-primary.text-white.flex.text-16(class="sm:flex-col sm:text-12") 
                    button.btn-action.w-32.h-36 
                        i.fa-solid.fa-cart-plus
                        span.sub.text-12 Thêm vào giỏ
                    button.btn-action.w-32.h-36
                        i.fa-solid.fa-money-check-dollar
                        span.sub.text-12 Mua ngay
                    button.btn-action.w-32.h-36
                        i.fa-solid.fa-eye
                        span.sub.text-12 Xem chi tiết
                .inner-prod
                    h3.product-title.font-bold
                        a(href='#')
                            | Điểm danh AI - Nhận diện khuôn mặt AI
                    .product-rate.flex.text-12
                        ul
                            each star in [1,2,3,4,5]
                                li
                                    i.fa.fa-star(aria-hidden='true')
                    .product-meta.text-center
                        span.product-price.product-sale-price
                            | 350.000 
                            sup đ
                        span.product-price.font-bold
                            | 250.000 
                            sup đ
                    .group-button.flex.mt-8px.gap-x-1.gap-y-4px.flex-col(class="max-sm:flex-col") 
                        button.btn-product.p-4px.bg-gray2.text-primary.text-14.rounded-4(class="hover:bg-primary hover:text-white") 
                            i.fa-solid.fa-phone.mr-4px
                            | 0847 865 568
                        button.btn-product.p-4px.bg-gray2.text-orange.text-14.rounded-4(class="hover:bg-orange hover:text-white") 
                            i.fa-solid.fa-headset.mr-4px
                            |Yêu cầu tư vấn

mixin heading(arr, ttl)
    .item_frame_header.gap-x-24.flex.gap-y-8px.p-0(class="max-sm:flex-col sm:align-items-center")
        a.item_frame_title.header-boder-color.flex-shrink-0(href='/san-pham')
            //- span.d-flex.align-items-center.me-1
            h2.text-nowrap(style='color: #000000 !important;')
                |#{ttl}
        if(arr != '' )
            .d-flex.flex-grow-1.justify-end.overflow-hidden
                .menu-slider-wrapper
                    .nav-arr.nav-prev.d-none <
                    .menu-scroll-container
                        ul.sub_menu_title.text-12.text-nowrap.flex.gap-12
                            each item in [1,2,3,4,5,6,7,8]
                                li
                                    a(href='/nap-be-cap/nap-be-cap-composite') NẮP BỂ CÁP COMPOSITE
                                li
                                    a(href='/nap-be-cap/nap-be-cap-gang') NẮP BỂ CÁP
                    .nav-arr.nav-next.d-none >
                    //- a.item_frame_more(href='/san-pham')
                        // Xem thêm <i class="fa fa-angle-right"></i>
                        i.fa-solid.fa-eye
                
//- .products-rate
mixin home_product_list(arr1, ttl, classSlick)
    //- section.product_list.item_frame(style='background-color: #e6e6e6; margin: 0;')
        .container
            .item_frame_background
                - var arr1 = [1,2,3,4,5,6,7,8]
                +heading(arr1, 'SẢN PHẨM')
    //- section.product_list.item_frame(style='background-color: #e6e6e6; margin: 0;')
        .container
    .wrapper
        //- - var arr1 = [1,2,3,4,5,6,7,8]
        +heading(arr1, ttl)
        div(class=`${classSlick}`)
            each item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
                +product_item()
                                    
                    
mixin js_home_product_list()
    script.
        jQuery(document).ready(function($) {
            $('.menu-slider-wrapper').each(function() {
                var $wrapper = $(this);
                var $scrollContainer = $wrapper.find('.menu-scroll-container');
                var $prev = $wrapper.find('.nav-prev');
                var $next = $wrapper.find('.nav-next');
                var scrollAmount = 150;

                function updateNavButtons() {
                var container = $scrollContainer.get(0);
                if (!container) return;

                var scrollLeft = container.scrollLeft;
                var maxScrollLeft = container.scrollWidth - container.clientWidth;

                if (scrollLeft <= 0) {
                    $prev.addClass('d-none');
                } else {
                    $prev.removeClass('d-none');
                }

                if (scrollLeft >= maxScrollLeft - 1) {
                    $next.addClass('d-none');
                } else {
                    $next.removeClass('d-none');
                }
                }

                function checkOverflow() {
                var container = $scrollContainer.get(0);
                if (!container) return;

                if (container.scrollWidth > container.clientWidth) {
                    updateNavButtons();
                } else {
                    $prev.addClass('d-none');
                    $next.addClass('d-none');
                }
                }

                $next.on('click', function() {
                $scrollContainer.animate({ scrollLeft: '+=' + scrollAmount }, 300, updateNavButtons);
                });

                $prev.on('click', function() {
                $scrollContainer.animate({ scrollLeft: '-=' + scrollAmount }, 300, updateNavButtons);
                });

                $scrollContainer.on('scroll', updateNavButtons);

                $(window).on('resize', checkOverflow);

                checkOverflow();
            });
        });
