mixin home_partner()
     section.py-5
        .container
            .container.title_section.mb-4(style='margin-bottom: 0; color: #212529 !important; text-align: center;')
                p Một số đối tác tiêu biểu của chúng tôi
            .slide_banner-4
                .mx-2.custom-article-item.position-relative.rounded-10.modal-open
                    img.mx-auto(src='https://vip2.io.vn/admin/public/images/homeSetting/172554341669/icon_vnr-246x90.png' alt width='150')
                .mx-2.custom-article-item.position-relative.rounded-10.modal-open
                    img.mx-auto(src='https://vip2.io.vn/admin/public/images/homeSetting/172554341683/icon_vnpt-246x90.png' alt width='150')
                .mx-2.custom-article-item.position-relative.rounded-10.modal-open
                    img.mx-auto(src='https://vip2.io.vn/admin/public/images/homeSetting/172554341641/icon_Aeon-246x90.png' alt width='150')
                .mx-2.custom-article-item.position-relative.rounded-10.modal-open
                    img.mx-auto(src='https://vip2.io.vn/admin/public/images/homeSetting/172554341669/icon_vnr-246x90.png' alt width='150')
                .mx-2.custom-article-item.position-relative.rounded-10.modal-open
                    img.mx-auto(src='https://vip2.io.vn/admin/public/images/homeSetting/172554341633/icon_vtb-246x90.png' alt width='150')