mixin home_video()
    section.py-2(style='background-color: white;')
        .container
            h3.title.font-weight-bold.position-relative.py-4.text-center
                span.line-bottom.position-relative Video
            .row.slide-video
                .col-6.col-md-3.mb-3.text-center
                    a.mb-2.d-block.video-item.popup-youtube(href='https://www.youtube.com/watch?v=pBFQdxA-apI')
                        img.w-100.rounded-3(src='https://file.hstatic.net/200000865177/article/video_7_fbc95109d85543329be6eb4934e0fa72.jpg' alt)
                    h6 Quà tặng hấp dẫn
                    p Quà tặng hấp dẫn
                .col-6.col-md-3.mb-3.text-center
                    a.mb-2.d-block.video-item.popup-youtube(href='https://www.youtube.com/watch?v=pBFQdxA-apI')
                        img.w-100.rounded-3(src='https://file.hstatic.net/200000865177/article/video_7_fbc95109d85543329be6eb4934e0fa72.jpg' alt)
                    h6 Quà tặng hấp dẫn
                    p Quà tặng hấp dẫn
                .col-6.col-md-3.mb-3.text-center
                    a.mb-2.d-block.video-item.popup-youtube(href='https://www.youtube.com/watch?v=pBFQdxA-apI')
                        img.w-100.rounded-3(src='https://file.hstatic.net/200000865177/article/video_7_fbc95109d85543329be6eb4934e0fa72.jpg' alt)
                    h6 Quà tặng hấp dẫn
                    p Quà tặng hấp dẫn
                .col-6.col-md-3.mb-3.text-center
                    a.mb-2.d-block.video-item.popup-youtube(href='https://www.youtube.com/watch?v=pBFQdxA-apI')
                        img.w-100.rounded-3(src='https://file.hstatic.net/200000865177/article/video_7_fbc95109d85543329be6eb4934e0fa72.jpg' alt)
                    h6 Quà tặng hấp dẫn
                    p Quà tặng hấp dẫn
                .col-6.col-md-3.mb-3.text-center
                    a.mb-2.d-block.video-item.popup-youtube(href='https://www.youtube.com/watch?v=pBFQdxA-apI')
                        img.w-100.rounded-3(src='https://file.hstatic.net/200000865177/article/video_7_fbc95109d85543329be6eb4934e0fa72.jpg' alt)
                    h6 Quà tặng hấp dẫn
                    p Quà tặng hấp dẫn
                .col-6.col-md-3.mb-3.text-center
                    a.mb-2.d-block.video-item.popup-youtube(href='https://www.youtube.com/watch?v=pBFQdxA-apI')
                        img.w-100.rounded-3(src='https://file.hstatic.net/200000865177/article/video_7_fbc95109d85543329be6eb4934e0fa72.jpg' alt)
                    h6 Quà tặng hấp dẫn
                    p Quà tặng hấp dẫn
                .col-6.col-md-3.mb-3.text-center
                    a.mb-2.d-block.video-item.popup-youtube(href='https://www.youtube.com/watch?v=pBFQdxA-apI')
                        img.w-100.rounded-3(src='https://file.hstatic.net/200000865177/article/video_7_fbc95109d85543329be6eb4934e0fa72.jpg' alt)
                    h6 Quà tặng hấp dẫn
                    p Quà tặng hấp dẫn
                .col-6.col-md-3.mb-3.text-center
                    a.mb-2.d-block.video-item.popup-youtube(href='https://www.youtube.com/watch?v=pBFQdxA-apI')
                        img.w-100.rounded-3(src='https://file.hstatic.net/200000865177/article/video_7_fbc95109d85543329be6eb4934e0fa72.jpg' alt)
                    h6 Quà tặng hấp dẫn
                    p Quà tặng hấp dẫn