mixin home_quote()
    section.quote.section-custom
        .container-fluid.px-0
            .row(style='background-color: #f04923;')
                .col-12.col-md-6.item
                    .w-100.info
                        p
                            | “Having a billion-dollar company back you up speaks volumes. Speed Queen is not gonna just let you stay stagnant.” -Multi-Unit Franchise Owner Sanjay Banit
                        button Xem thêm
                .col-12.col-md-6.item
                    .w-100
                        img(src='./public/assets/images/Screenshot_4-2.png' alt)
            .row.flex-row-reverse(style='background-color: #f04923;')
                .col-12.col-md-6.item
                    .w-100.info
                        p
                            | “Having a billion-dollar company back you up speaks volumes. Speed Queen is not gonna just let you stay stagnant.” -Multi-Unit Franchise Owner Sanjay Banit
                        button Xem thêm
                .col-12.col-md-6.item
                    .w-100
                        img(src='./public/assets/images/Screenshot_6-1.png' alt)
            .row(style='background-color: #f04923;')
                .col-12.col-md-6.item
                    .w-100.info
                        p
                            | “Having a billion-dollar company back you up speaks volumes. Speed Queen is not gonna just let you stay stagnant.” -Multi-Unit Franchise Owner Sanjay Banit
                        button Xem thêm
                .col-12.col-md-6.item
                    .w-100
                        img(src='./public/assets/images/modern-luxury-meets-old-fashioned-elegance-inside-apartment-generated-by-ai-2.jpg' alt)