mixin home_m_banner()
    section.m_banner
        .container
            .slide_banner-2
                .px-2
                    a.w-100.h-100.rounded-10.image_hover(href title='Mew Cosmetics')
                        img.d-block.w-100.img.img-cover.rounded-1(src='https://file.hstatic.net/200000865177/file/banner_product_1_2_1e8d3f5ffa9c4d9ca039282798833db2.jpg' alt='Mew Cosmetics')
                .px-2
                    a.w-100.h-100.rounded-10.image_hover(href title='Mew Cosmetics')
                        img.d-block.w-100.img.img-cover.rounded-1(src='https://file.hstatic.net/200000865177/file/banner_product_1_1_7c6e3429f65c4ba3be014ded4b6ecefc.jpg' alt='Mew Cosmetics')
                .px-2
                    a.w-100.h-100.rounded-10.image_hover(href title='Mew Cosmetics')
                        img.d-block.w-100.img.img-cover.rounded-1(src='https://file.hstatic.net/200000865177/file/banner_product_1_3_a99a8f92ced04084abbada6fadd476a8.jpg' alt='Mew Cosmetics')

mixin home_m_banner2()
    section.m_banner
        .container
            .slide_banner-3
                .px-2
                    a.w-100.h-100.rounded-10.image_hover(href title='Mew Cosmetics')
                        img.d-block.w-100.img.img-cover.rounded-1(src='https://file.hstatic.net/200000865177/file/banner_product_1_2_1e8d3f5ffa9c4d9ca039282798833db2.jpg' alt='Mew Cosmetics')
                .px-2
                    a.w-100.h-100.rounded-10.image_hover(href title='Mew Cosmetics')
                        img.d-block.w-100.img.img-cover.rounded-1(src='https://file.hstatic.net/200000865177/file/banner_product_1_1_7c6e3429f65c4ba3be014ded4b6ecefc.jpg' alt='Mew Cosmetics')
                .px-2
                    a.w-100.h-100.rounded-10.image_hover(href title='Mew Cosmetics')
                        img.d-block.w-100.img.img-cover.rounded-1(src='https://file.hstatic.net/200000865177/file/banner_product_1_3_a99a8f92ced04084abbada6fadd476a8.jpg' alt='Mew Cosmetics')