mixin home_banner-nav()
    section.banner-nav
        .container
            .row
                .col-12.col-md-4.col-lg-3.col-xl-3.p-r-0.hidden(class="md:block")
                    .inner
                        #sidebar-category.sidebar
                            h3
                                i.fa-solid.fa-list.margin-right-10
                                | Danh mục sản phẩm
                            .header-bottom-2
                                nav.navbar.navbar-expand-lg
                                    button.btn.btn-toggle-menu.d-lg-none(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasExample3' aria-controls='offcanvasExample3')
                                        i.fa-solid.fa-bars.text-dark.fs-4.mt-1
                                    .mobile-menu
                                        ul.navbar-nav
                                            li.nav-item.active
                                                a.nav-link(href='/')
                                                    i.icon-img
                                                        img(src='https://file.hstatic.net/200000865177/file/cam-nang_7b1c2041fc624dbbb73509f39a24a55f.png' alt)
                                                    span Danh muc 1 
                                            li.nav-item.dropdown
                                                a.nav-link.dropdown-toggle(href='/nuoc-giat-xa')
                                                    i.fa-solid.fa-ribbon.margin-right-10
                                                    span
                                                        | Danh muc 2
                                                ul.dropdown-menu(aria-labelledby='navbarDropdown')
                                                    li.nav-item.dropdown
                                                        a.dropdown-item.dropdown-toggle.childMenu.fw-bold(href='/danh-muc-san-pham/tonmat-cach-am-cach-nhiet')
                                                            span.me-1  
                                                            span Tonmat cách âm - cách nhiệt
                                                        ul.dropdown-menu.submenu-level-2(aria-labelledby='navbarDropdownSubmenu')
                                                            li.nav-item
                                                                a.dropdown-item(href='/danh-muc-san-pham/tonmat-cach-am-cach-nhiet/tonmat-spec')
                                                                    span.me-1  
                                                                    span Tonmat SPEC
                                                            li.nav-item
                                                                a.dropdown-item(href='/danh-muc-san-pham/tonmat-cach-am-cach-nhiet/tonmat-apec')
                                                                    span.me-1  
                                                                    span Tonmat APEC
                                                            li.nav-item
                                                                a.dropdown-item(href='/danh-muc-san-pham/tonmat-cach-am-cach-nhiet/tonmat-eco')
                                                                    span.me-1  
                                                                    span Tonmat ECO
                                                    li
                                                        a.dropdown-item.fw-bold(href='/danh-muc-san-pham/tonmat-panel')
                                                            span.me-1  
                                                            span Tonmat Panel
                                                    li
                                                        a.dropdown-item.fw-bold(href='/danh-muc-san-pham/tranmat-tran-vach')
                                                            span.me-1  
                                                            span Tranmat: Trần - Vách
                                                    li.nav-item.dropdown
                                                        a.dropdown-item.fw-bold.dropdown-toggle.childMenu(href='/danh-muc-san-pham/gach-mat')
                                                            span.me-1  
                                                            span Gạch mát
                                                        ul.dropdown-menu.submenu-level-2(aria-labelledby='navbarDropdownSubmenu')
                                                            li.nav-item
                                                                a.dropdown-item(href='/danh-muc-san-pham/gach-mat/gach-mat')
                                                                    span.me-1  
                                                                    span Gạch mát
                                                            li.nav-item
                                                                a.dropdown-item(href='/danh-muc-san-pham/gach-mat/phu-kien-gach-mat')
                                                                    span.me-1  
                                                                    span Phụ kiện Gạch mát
                                                    li
                                                        a.dropdown-item.fw-bold(href='/danh-muc-san-pham/ton-cong-trinh')
                                                            span.me-1  
                                                            span Tôn công trình
                                                    li
                                                        a.dropdown-item.fw-bold(href='/danh-muc-san-pham/ton-nhua')
                                                            span.me-1  
                                                            span Tôn nhựa
                                                    li
                                                        a.dropdown-item.fw-bold(href='/danh-muc-san-pham/tam-lop-sinh-thai-onduline')
                                                            span.me-1  
                                                            span Tấm lợp sinh thái Onduline
                                                    li
                                                        a.dropdown-item.fw-bold(href='/danh-muc-san-pham/vat-lieu-chong-nong-cach-am-cach-nhiet')
                                                            span.me-1  
                                                            span Vật liệu chống nóng cách âm cách nhiệt
                                            li.nav-item
                                                a.nav-link(href='/')
                                                    i.fa-solid.fa-ribbon.margin-right-10
                                                    span Danh muc 3 
                                            li.nav-item
                                                a.nav-link(href='/')
                                                    i.fa-solid.fa-ribbon.margin-right-10
                                                    span Danh muc 4 
                                            li.nav-item
                                                a.nav-link(href='/')
                                                    i.fa-solid.fa-ribbon.margin-right-10
                                                    span Danh muc 5 
                                            li.nav-item
                                                a.nav-link(href='/')
                                                    i.fa-solid.fa-ribbon.margin-right-10
                                                    span Danh muc 6 
                                            li.nav-item
                                                a.nav-link(href='/')
                                                    i.fa-solid.fa-ribbon.margin-right-10
                                                    span Danh muc 7 
                                            li.nav-item
                                                a.nav-link(href='/')
                                                    i.fa-solid.fa-ribbon.margin-right-10
                                                    span Danh muc 8 
                                            li.nav-item
                                                a.nav-link(href='/')
                                                    i.fa-solid.fa-ribbon.margin-right-10
                                                    span Danh muc 9 
                                            li.nav-item
                                                a.nav-link(href='/')
                                                    i.fa-solid.fa-ribbon.margin-right-10
                                                    span Danh muc 10 
                                            li.nav-item
                                                a.nav-link(href='/')
                                                    i.fa-solid.fa-ribbon.margin-right-10
                                                    span Danh muc 11 
                                            li.nav-item
                                                a.nav-link(href='/')
                                                    i.fa-solid.fa-ribbon.margin-right-10
                                                    span Danh muc 12 
                                            li.nav-item
                                                a.nav-link(href='/')
                                                    i.fa-solid.fa-ribbon.margin-right-10
                                                    span Danh muc 13 
                                        // <button id="toggleMore" style="margin-top: 10px; display: none;">Xem thêm</button>
                .col-12.col-md-8.col-lg-9.p-l-0
                    .inner-right
                        .header-bottom-2
                            .container
                                nav.navbar.navbar-expand-lg
                                    .row.w-100
                                        .col-lg-12.ml-auto.lg-flex-1
                                            button.btn.btn-toggle-menu.d-lg-none(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasExample3' aria-controls='offcanvasExample3')
                                                i.fa-solid.fa-bars.text-dark.fs-4.mt-1
                                            .mobile-menu
                                                ul.navbar-nav.me-auto.mb-2.mb-lg-0.justify-content-center.mobile-align-items-start.align-items-center.gap-lg-3.height-lg-45
                                                    li.nav-item.active
                                                        a.nav-link.d-flex.justify-content-center.align-items-center(href='/')
                                                            span
                                                                | Trang Chủ
                                                    li.nav-item.dropdown
                                                        a.nav-link.d-flex.justify-content-center.align-items-center.dropdown-toggle(href='/nuoc-giat-xa')
                                                            span.me-1  
                                                            span
                                                                | Nước Giặt Xả
                                                        ul.dropdown-menu(aria-labelledby='navbarDropdown')
                                                            li.nav-item.dropdown
                                                                a.dropdown-item.dropdown-toggle.childMenu.fw-bold(href='/danh-muc-san-pham/tonmat-cach-am-cach-nhiet')
                                                                    span.me-1  
                                                                    span Tonmat cách âm - cách nhiệt
                                                                ul.dropdown-menu.submenu-level-2(aria-labelledby='navbarDropdownSubmenu')
                                                                    li.nav-item
                                                                        a.dropdown-item(href='/danh-muc-san-pham/tonmat-cach-am-cach-nhiet/tonmat-spec')
                                                                            span.me-1  
                                                                            span Tonmat SPEC
                                                                    li.nav-item
                                                                        a.dropdown-item(href='/danh-muc-san-pham/tonmat-cach-am-cach-nhiet/tonmat-apec')
                                                                            span.me-1  
                                                                            span Tonmat APEC
                                                                    li.nav-item
                                                                        a.dropdown-item(href='/danh-muc-san-pham/tonmat-cach-am-cach-nhiet/tonmat-eco')
                                                                            span.me-1  
                                                                            span Tonmat ECO
                                                            li
                                                                a.dropdown-item.fw-bold(href='/danh-muc-san-pham/tonmat-panel')
                                                                    span.me-1  
                                                                    span Tonmat Panel
                                                            li
                                                                a.dropdown-item.fw-bold(href='/danh-muc-san-pham/tranmat-tran-vach')
                                                                    span.me-1  
                                                                    span Tranmat: Trần - Vách
                                                            li.nav-item.dropdown
                                                                a.dropdown-item.fw-bold.dropdown-toggle.childMenu(href='/danh-muc-san-pham/gach-mat')
                                                                    span.me-1  
                                                                    span Gạch mát
                                                                ul.dropdown-menu.submenu-level-2(aria-labelledby='navbarDropdownSubmenu')
                                                                    li.nav-item
                                                                        a.dropdown-item(href='/danh-muc-san-pham/gach-mat/gach-mat')
                                                                            span.me-1  
                                                                            span Gạch mát
                                                                    li.nav-item
                                                                        a.dropdown-item(href='/danh-muc-san-pham/gach-mat/phu-kien-gach-mat')
                                                                            span.me-1  
                                                                            span Phụ kiện Gạch mát
                                                            li
                                                                a.dropdown-item.fw-bold(href='/danh-muc-san-pham/ton-cong-trinh')
                                                                    span.me-1  
                                                                    span Tôn công trình
                                                            li
                                                                a.dropdown-item.fw-bold(href='/danh-muc-san-pham/ton-nhua')
                                                                    span.me-1  
                                                                    span Tôn nhựa
                                                            li
                                                                a.dropdown-item.fw-bold(href='/danh-muc-san-pham/tam-lop-sinh-thai-onduline')
                                                                    span.me-1  
                                                                    span Tấm lợp sinh thái Onduline
                                                            li
                                                                a.dropdown-item.fw-bold(href='/danh-muc-san-pham/vat-lieu-chong-nong-cach-am-cach-nhiet')
                                                                    span.me-1  
                                                                    span Vật liệu chống nóng cách âm cách nhiệt
                                                    li.nav-item
                                                        a.nav-link.d-flex.justify-content-center.align-items-center(href='/gioi-thieu')
                                                            span.me-1  
                                                            span
                                                                | Giới Thiệu
                                                    li.nav-item
                                                        a.nav-link.d-flex.justify-content-center.align-items-center(href='/tin-tuc')
                                                            span.me-1  
                                                            span
                                                                | Tin tức
                                                    li.nav-item
                                                        a.nav-link.d-flex.justify-content-center.align-items-center(href='/lien-he')
                                                            span.me-1  
                                                            span
                                                                | Liên Hệ
                                                    .nav-item.nav-item-hotline
                                                        a.shiny-cta(href='#')
                                                            i.fa-solid.fa-headset
                                                            span  012345678
                        .wrapper-banner
                            .banner_slide
                                div
                                    a.d-block.w-100(href='#' title='Banner 1')
                                        img.img-cover(src='https://file.hstatic.net/200000865177/file/slide2_01af15a43aa946beb009a32ade31afc9.jpg' alt='Banner 1')
                                div
                                    a.d-block.w-100(href='#' title='Banner 2')
                                        img.img-cover(src='https://file.hstatic.net/200000865177/file/slide_56749911034a4ecb841b932a9f8c9f32.jpg' alt='Banner 2')
            .row.section_banner
                .col-12.col-lg-8.pr-lg-1.mb-2.mb-lg-0
                    // Main Slider
                    .banner_slide
                        div
                            a.d-block.w-100.rounded-10(href='#' title='Banner 1')
                                img.img-cover(src='https://file.hstatic.net/200000865177/file/slide2_01af15a43aa946beb009a32ade31afc9.jpg' alt='Banner 1')
                        div
                            a.d-block.w-100.rounded-10(href='#' title='Banner 2')
                                img.img-cover(src='https://file.hstatic.net/200000865177/file/slide_56749911034a4ecb841b932a9f8c9f32.jpg' alt='Banner 2')
                // Right Banners
                .col-12.col-lg-4.p-l-0
                    .row.g-2
                        .col-6.col-lg-12
                            a.d-block.w-100.h-50.rounded-10(href='#')
                                img.img-cover(src='https://file.hstatic.net/200000865177/file/banner1_5e1fa75baefe4e6c9edddf74b295bbc1.jpg' alt='Banner Right 1')
                        .col-6.col-lg-12
                            a.d-block.w-100.h-50.rounded-10(href='#')
                                img.img-cover(src='https://file.hstatic.net/200000865177/file/banner2_01842c737462439f9eb31b8921c2ddd1.jpg' alt='Banner Right 2')