
include _home_product_list.pug

mixin slick-slider()
    .row.slide
        .preview-slide
            .swiper-container.main-slider
                each item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
                    .swiper-slide.swiper-slide-main
                        a.imgDrop.ratio-100p(href=`${item === 1 ? "./public/assets/images/Screenshot_4-2.png":"./public/assets/images/Screenshot_6-1.png"}`)
                            if(item === 1)
                                img.image(loading='lazy' src='./public/assets/images/Screenshot_4-2.png' alt='Tổ Yến Đảo0')
                            else 
                                img.image(loading='lazy' src="./public/assets/images/Screenshot_6-1.png", alt="")
                
        .swiper-container.swiper-container-thumbs.position-relative
            each item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
                .swiper-slide.swiper-slide-thumb
                    .imgDrop.ratio-100p
                        if(item === 1)
                            img.image(loading='lazy' src='./public/assets/images/Screenshot_4-2.png' alt='Tổ Yến Đảo0')
                        else 
                            img.image(loading='lazy' src="./public/assets/images/Screenshot_6-1.png", alt="")
mixin product-detail-show-home()
    section.special-products.py-16(class="md:py-48")
        .container.margin-top-10
            .row
                //- .col-12.margin-bottom-10
                    nav(aria-label='breadcrumb')
                        ol.breadcrumb
                            li.breadcrumb-item
                                a(href)
                                    i.fa.fa-home(aria-hidden='true')
                                    |  Home
                            li.breadcrumb-item(aria-current='page') Tổ Yến Đảo
                .col-12.col-lg-12
                    .background-content
                        .row.single_product
                            .col-12.col-lg-6
                                +slick-slider
                            
                            .col-12.col-lg-6.p-r-0
                                div(class="xl:pl-24 2xl:pl-32")
                                    .product-info-head
                                        h1.product-title DANH THIẾP ÉP KIM - DANH THIẾP ÉP KIM - DANH THIẾP ÉP KIM - DANH THIẾP ÉP KIM
                                        //- .product-sub
                                            | Thiết kế sang trọng đẳng cấp
                                    .price-number.text-32.font-bold.text-orange $1200
                                    //- .product-info
                                        //- h3.product-info-ttl Mô tả
                                    .product-info-content.mt-8px
                                        p It is a long established fact that a reader will be distracted by the readable content of a page when 
                                    .row.mt-16.gap-y-20(class="2xl:mr-60") 
                                        .col-4.col-md-3
                                            .inner.bg-white.rounded-3.py-16.px-8px.border.border-white.border-solid.transition-all.duration-300(class="hover:border-primary") 
                                                .icon.w-40.h-40.flex.justify-center.items-center.text-32.text-primary.mx-auto
                                                    i.fa-brands.fa-nfc-directional
                                                .text-primary.mt-8px.text-center Hướng Tây Nam
                                        .col-4.col-md-3
                                            .inner.bg-white.rounded-3.py-16.px-8px.border.border-white.border-solid.transition-all.duration-300(class="hover:border-primary") 
                                                .icon.w-40.h-40.flex.justify-center.items-center.text-32.text-primary.mx-auto
                                                    i.fa-brands.fa-squarespace
                                                .text-primary.mt-8px.text-center 1000 m 
                                                    sup 2
                                        .col-4.col-md-3
                                            .inner.bg-white.rounded-3.py-16.px-8px.border.border-white.border-solid.transition-all.duration-300(class="hover:border-primary") 
                                                .icon.w-40.h-40.flex.justify-center.items-center.text-32.text-primary.mx-auto
                                                    i.fa-solid.fa-map-location-dot
                                                .text-primary.mt-8px.text-center TP. HCM
                                        .col-4.col-md-3
                                            .inner.bg-white.rounded-3.py-16.px-8px.border.border-white.border-solid.transition-all.duration-300(class="hover:border-primary") 
                                                .icon.w-40.h-40.flex.justify-center.items-center.text-32.text-primary.mx-auto
                                                    img.w-full(src="https://file.hstatic.net/200000865177/file/cam-nang_7b1c2041fc624dbbb73509f39a24a55f.png", alt="")
                                                .text-primary.mt-8px.text-center Hình
                                        .col-4.col-md-3
                                            .inner.bg-white.rounded-3.py-16.px-8px.border.border-white.border-solid.transition-all.duration-300(class="hover:border-primary") 
                                                .icon.w-40.h-40.flex.justify-center.items-center.text-32.text-primary.mx-auto
                                                    img.w-full(src="https://file.hstatic.net/200000865177/file/cam-nang_7b1c2041fc624dbbb73509f39a24a55f.png", alt="")
                                                .text-primary.mt-8px.text-center Hình
                                        .col-4.col-md-3
                                            .inner.bg-white.rounded-3.py-16.px-8px.border.border-white.border-solid.transition-all.duration-300(class="hover:border-primary") 
                                                .icon.w-40.h-40.flex.justify-center.items-center.text-32.text-primary.mx-auto
                                                    img.w-full(src="https://file.hstatic.net/200000865177/file/cam-nang_7b1c2041fc624dbbb73509f39a24a55f.png", alt="")
                                                .text-primary.mt-8px.text-center Hình
                                    
                                    .product-info-content.mt-24
                                            p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                                    .row.block-buttons.gap-y-12.row-gap-x-12
                                        
                                        //- .col-12.col-md-6
                                            button.btn-main.btn-orange
                                                i.fa-solid.fa-cart-shopping
                                                | THÊM VÀO GIỎ HÀNG
                                        .col-12.col-md-4
                                            button.btn-main.bg-orange.text-white(class="hover:shadow-lg")
                                                i.fa-solid.fa-headset
                                                | YÊU CẦU TƯ VẤN
                                        .col-12.col-md-4
                                            button.btn-main.bg-red.text-white(class="hover:shadow-lg")
                                                i.fa.fa-phone
                                                | 0847 865 568
                                        .col-12.col-md-4
                                            button.btn-main.btn-primary(class="hover:shadow-lg")
                                                i.fa-solid.fa-users-viewfinder
                                                |  Xem Chi Tiết
                                    h3.product-info-ttl.mt-24 chia sẻ
                                    ul.flex.mt-12.gap-4px.flex-wrap 
                                        li
                                            a.flex-shrink-0.w-36.flex-shrink-0.h-36.flex.justify-center.items-center.rounded-50p.bg-primary.text-white(href="#" class="hover:shadow-lg") 
                                                i.fa-brands.fa-facebook-f
                                        li
                                            a.flex-shrink-0.w-36.flex-shrink-0.h-36.flex.justify-center.items-center.rounded-50p.bg-primary.text-white(href="#" class="hover:shadow-lg") 
                                                i.fa-brands.fa-tiktok
                                        li
                                            a.flex-shrink-0.w-36.flex-shrink-0.h-36.flex.justify-center.items-center.rounded-50p.bg-primary.text-white(href="#" class="hover:shadow-lg") 
                                                i.fa-brands.fa-twitter
                                        li
                                            a.flex-shrink-0.w-36.flex-shrink-0.h-36.flex.justify-center.items-center.rounded-50p.bg-primary.text-white(href="#" class="hover:shadow-lg") 
                                                i.fa-brands.fa-threads
                                        li
                                            a.flex-shrink-0.w-36.flex-shrink-0.h-36.flex.justify-center.items-center.rounded-50p.bg-primary.text-white(href="#" class="hover:shadow-lg") 
                                                i.fa-brands.fa-pinterest-p

mixin product_detail()
                                              
    .container.margin-top-10
        .row
            .col-12.margin-bottom-10
                nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href)
                                i.fa.fa-home(aria-hidden='true')
                                |  Home
                        li.breadcrumb-item(aria-current='page') Tổ Yến Đảo
            .col-12.col-lg-12
                .background-content
                    .container
                        .row.single_product
                            .col-12.col-lg-6
                                +slick-slider
                            
                            .col-12.col-lg-6.p-r-0
                                .product-info-head
                                    h1.product-title DANH THIẾP ÉP KIM
                                    .product-sub
                                        | Thiết kế sang trọng đẳng cấp
                                .product-info
                                    h3.product-info-ttl Thông số cơ bản
                                    .product-info-content
                                        ul
                                            li
                                                | - Màu sắc: nhiều màu
                                                i.fa-regular.fa-circle-question.color-primary
                                            li - Số mặt in: 2 mặt
                                            li
                                                | - Kỹ thuật in: In KTS
                                                i.fa-regular.fa-circle-question.color-primary
                                            li - KT Thành Phẩm: 9x5.4cm
                                            li - Cắt thành phẩm
                                .product-info
                                    h3.product-info-ttl Yêu cầu của bạn
                                    .product-info-content
                                        .info-item-row
                                            .info-item-dt Loại giấy:
                                            .info-item-dd
                                                .dropdown
                                                    a#dropdownMenuLink.dropdown-toggle.select-option(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                                        | Chọn loại giấy
                                                    ul.dropdown-menu(aria-labelledby='dropdownMenuLink')
                                                        li
                                                            a.dropdown-item(href='#') Action
                                                        li
                                                            a.dropdown-item(href='#') Another action
                                                        li
                                                            a.dropdown-item(href='#') Something else here
                                        .info-item-row
                                            .info-item-dt Ép kim Màu:
                                            .info-item-dd
                                                .list-option
                                                    span.active Vàng
                                                    span Đồng
                                                    span Nhũ 7 màu
                                                    span Bạc
                                                    span Nhũ đen
                                        .info-item-row
                                            .info-item-dt Ép kim Mặt:
                                            .info-item-dd
                                                .list-option
                                                    span.active 1 mặt
                                                    span 2 mặt
                                        .info-item-row
                                            .info-item-dt Số lượng:
                                            .info-item-dd
                                                .dropdown
                                                    a#dropdownMenuLink.dropdown-toggle.select-option(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                                        | Chọn số lượng
                                                    ul.dropdown-menu(aria-labelledby='dropdownMenuLink')
                                                        li
                                                            a.dropdown-item(href='#') Action
                                                        li
                                                            a.dropdown-item(href='#') Another action
                                                        li
                                                            a.dropdown-item(href='#') Something else here
                                .product-price
                                    .column
                                        p
                                            strong Thời gian dự kiến thành phẩm (*)
                                        .timeline Trong chiều 12/6
                                        .text-sub
                                            | (Từ khi xác nhận file thiết kế + Đặt cọc)
                                    .column
                                        p
                                            strong Thành tiền
                                        .price-total 560.000đ
                                        .text-sub
                                            | (Giá trên chưa bao gồm 10% VAT)
                                .row.block-buttons.gap-y-12.row-gap-x-12
                                    .col-12.col-md-6
                                        button.btn-main.btn-primary
                                            i.fa-solid.fa-money-check-dollar
                                            | ĐẶT IN NGAY
                                    .col-12.col-md-6
                                        button.btn-main.btn-orange
                                            i.fa-solid.fa-cart-shopping
                                            | THÊM VÀO GIỎ HÀNG
                                    .col-12.col-md-6
                                        button.btn-main.btn-gray
                                            i.fa-solid.fa-headset
                                            | YÊU CẦU TƯ VẤN
                                    .col-12.col-md-6
                                        button.btn-main.btn-gray
                                            i.fa.fa-phone
                                            | 0847 865 568
                                .text-sub.mt-3
                                    i (Thời gian trên chưa bao gồm thời gian giao)
                
                .row.infomation.mt-12
                    .col-md-12.col-lg-12.col-xl-9
                        .background-content
                            .container
                                .row.single_product
                                    .col-12.col-lg-6
                                        +slick-slider
                                    
                                    .col-12.col-lg-6.p-r-0
                                        style.
                                            .single_product .info .info-description p {
                                            text-align: -webkit-auto;
                                            }
                                        .info
                                            h1.product-title.pt-16 Tổ Yến Đảo
                                            hr
                                            .info-description
                                                p
                                                    strong Yến đảo
                                                    |  là những tổ yến thu được hoàn toàn trong tự nhiên, do chim yến hoang làm tổ trong mùa sinh sản. Tổ yến đảo khan hiếm, khó khai thác nên giá trị cao hơn yến
                                                    |                                                             nuôi nhà.
                                            hr
                                            table.table.table-striped
                                                tbody
                                                    tr.d-flex.table-tr
                                                        td.d-flex.align-items-center(style='gap: 6px; min-width: 30%;')
                                                            i.fa-solid.fa-industry
                                                            |  Mã tour
                                                        td(style='flex: 1;') HBI-MN-MK2-260325
                                                    tr.d-flex.table-tr
                                                        td.d-flex.align-items-center(style='gap: 6px; min-width: 30%;')
                                                            i.fa-solid.fa-car
                                                            |  Thời gian:
                                                        td(style='flex: 1;') 30/03/2025
                                                    tr.d-flex.table-tr
                                                        td.d-flex.align-items-center(style='gap: 6px; min-width: 30%;')
                                                            i.fa-solid.fa-road
                                                            |  Công suất điện min - max:
                                                        td(style='flex: 1;') 3 năm hoặc 100.000km
                                            .d-flex.align-items-center
                                                p.margin-right-10.price-title
                                                    | Giá (chưa VAT):
                                                .d-flex.align-items-center.price
                                                    .sale 180.000 đ
                                            hr
                                            form.frm_cart(action='gio-hang' method='post')
                                                input(type='hidden' name='_token' value='ozEWqNPfHifKetk0Ksd7sIAxSw6VvMQ2dmFabuHA')
                                                .qty
                                                    strong Số lượng: 
                                                    input.form-control.qty_input(type='number' name='qty' value='1' min='1')
                                                    // <span>(Còn 1 sản phẩm có sẵn)</span>
                                                .row.block-buttons.gap-y-12.row-gap-x-12
                                                    .col-12.col-md-6
                                                        button.btn-main.btn-primary
                                                            i.fa-solid.fa-money-check-dollar
                                                            | MUA NGAY
                                                    .col-12.col-md-6
                                                        button.btn-main.btn-orange
                                                            i.fa-solid.fa-cart-shopping
                                                            | THÊM VÀO GIỎ HÀNG
                                                    .col-12.col-md-6
                                                        button.btn-main.btn-gray
                                                            i.fa-solid.fa-headset
                                                            | YÊU CẦU TƯ VẤN
                                                    .col-12.col-md-6
                                                        button.btn-main.btn-gray
                                                            i.fa.fa-phone
                                                            | 0847 865 568
                                            form#add_to_cart(action='them-gio-hang' method='post' style='position: absolute; visibility: hidden;')
                                                input(type='hidden' name='_token' value='ozEWqNPfHifKetk0Ksd7sIAxSw6VvMQ2dmFabuHA')
                                                input.qty_hidden(type='hidden' name='qty' value='1')
                                                input(type='hidden' name='buy_now' value='358')
                                            .row
                                        div
                        .background-content
                            .container
                                ul#myTab.nav.nav-tabs(role='tablist')
                                    li.nav-item(role='presentation')
                                        button#parameter-tab.nav-link(data-bs-toggle='tab' data-bs-target='#parameter' type='button' role='tab' aria-controls='parameter' aria-selected='true')
                                            | THÔNG SỐ KỸ THUẬT
                                    li.nav-item(role='presentation')
                                        button#content-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#content' type='button' role='tab' aria-controls='content' aria-selected='false')
                                            | MÔ TẢ
                                    li.nav-item(role='presentation')
                                        button#promotion-tab.nav-link(data-bs-toggle='tab' data-bs-target='#promotion' type='button' role='tab' aria-controls='promotion' aria-selected='false')
                                            | ƯU ĐÃI - TẶNG KÈM
                                    li.nav-item(role='presentation')
                                        button#use-tab.nav-link(data-bs-toggle='tab' data-bs-target='#use' type='button' role='tab' aria-controls='use' aria-selected='false')
                                            | HƯỚNG DẪN SỬ DỤNG
                                    li.nav-item(role='presentation')
                                        button#review-tab.nav-link(data-bs-toggle='tab' data-bs-target='#review' type='button' role='tab' aria-controls='review' aria-selected='false')
                                            | ĐÁNH GIÁ
                                #myTabContent.tab-content
                                    #parameter.tab-pane.position-relative.fade(role='tabpanel' aria-labelledby='parameter-tab')
                                        .content
                                            p
                                                | Đây là câu hỏi khó mà Milany nghĩ sẽ tuỳ vào từng trường hợp cụ thể để có câu trả lời thích đáng.
                                            p
                                                | Nếu bạn có điều kiện kinh tế tốt, đang tìm mua một sản phẩm để bồi bổ sức khoẻ cho bản thân và gia đình. Hoặc bạn muốn tìm một sản phẩm
                                                | giàu dinh dưỡng để bồi dưỡng cho người bệnh nặng, người suy nhược, sau phẫu thuật hoặc người già yếu không còn khả năng ăn uống bình thường,
                                                | thì bạn có thể tìm mua yến đảo.
                                            p
                                                | Cơ bản vì chức năng của tổ yến đảo hoàn toàn đáp ứng được những công dụng như trên, rút ngắn thời gian hồi sức và củng cố sức khoẻ
                                                | cực tốt.
                                            p
                                                | Tuy nhiên vì yến đảo đã được cảnh báo rất nhiều về nguồn gốc, hàng giả, đạo nhái giống đến 90% nên bạn sẽ hơi khó khăn trong việc
                                                | tìm kiếm thương hiệu uy tín để mua đúng sản phẩm với giá thành tương ứng.
                                            p
                                                | Trường hợp khác, nếu bạn chỉ định chi tiêu vừa phải vào yến sào với mong muốn nâng cao sức khoẻ gia đình, cải thiện khả năng ghi nhớ và
                                                | hạn chế stress trong công việc chẳng hạn, bạn hoàn toàn có thể mua yến nhà nuôi để sử dụng. Yến nuôi còn giúp nâng cao
                                                | đề kháng cho các thành viên trong gia đình rất tốt trong những đợt dịch bệnh hay thời tiết cực đoan.
                                        .read-more-btn.more
                                            | Xem thêm 
                                            i.fa-solid.fa-caret-down
                                        .read-more-btn.hide
                                            | Ẩn bớt nội dung 
                                            i.fa-solid.fa-caret-up
                                    #content.tab-pane.position-relative.fade.show.active(role='tabpanel' aria-labelledby='content-tab')
                                        .content
                                            .ladi-container
                                                #HEADLINE1994.ladi-element
                                                    #ftwp-container-outer.ftwp-in-post.ftwp-float-none
                                                    h2#ftoc-heading-1.ladi-headline.ladi-transition.ftwp-heading
                                                        strong Yến đảo là gì?
                                                        strong  
                                                    p.ladi-headline.ladi-transition
                                                #PARAGRAPH4890.ladi-element
                                                    .ladi-paragraph
                                                        | Yến đảo là 
                                                        a(href='yen-sao/' target='_self' rel='noopener' aria-label='tổ yến')
                                                            strong
                                                                u tổ yến
                                                        |                                                                  được làm nên từ nước bọt của chim yến, kết cấu tổ yến đảo khá nhỏ, chân tổ chắc chắn, có hình muỗng hoặc hình bán
                                                        |                                                                 nguyệt, màu trắng đục hoặc ngả sang vàng, cam nhẹ tuỳ vào môi trường và độ ẩm nơi làm tổ. 
                                                        p
                                                            | Tổ yến đảo được hình thành trong môi trường hoàn toàn tự nhiên, nên được cho là chứa hàm lượng dinh dưỡng cao
                                                            | hơn yến nuôi. Tuy nhiên, chính yếu tố này đã đánh vào lòng tham của nhiều nhà yến và con buôn,
                                                            | ngày càng có nhiều thủ thuật và quy trình tinh vi biến yến nhà thành yến đảo để tăng giá bán lên nhiều
                                                            | lần.
                                                    .ladi-paragraph  
                                                    .tubo-media-item
                                                        p
                                                            img.lazy-load-active(title='to-yen-dao-tang-gia-tri-dot-pha-milany' src='wp-content/uploads/2025/04/to-yen-dao-tang-gia-tri-dot-pha-milany.jpg' alt='to yen dao tang gia tri dot pha' width='1335' height='667' data-src='wp-content/uploads/2025/04/to-yen-dao-tang-gia-tri-dot-pha-milany.jpg')
                                                        p  
                                            .ladi-container
                                                #HEADLINE3907.ladi-element
                                                    h2#ftoc-heading-2.ladi-headline.ladi-transition.ftwp-heading
                                                        strong 3 cách phân biệt yến đảo và yến nhà nuôi
                                                        strong  
                                                    p.ladi-headline.ladi-transition
                                                    #PARAGRAPH4891.ladi-element
                                                        .ladi-paragraph
                                                            strong Về hình dạng: 
                                                        .ladi-paragraph  
                                                        .ladi-paragraph
                                                            strong Yến đảo:
                                                        .ladi-paragraph  
                                                        .ladi-paragraph
                                                            | Yến đảo có hình dạng khá đặc biệt, đa số là hình muỗng, tựa nửa cái chén, kết cấu sợi yến đan vào nhau chặt
                                                            | chẽ, cầm lên rất chắc chắn. 
                                                            p
                                                                | Phần chân yến bám vào vách núi và hang đá dựng đứng nên được chim yến làm rất kĩ, hơn nữa là yếu tố
                                                                | thời tiết vùng đảo khá khắc nghiệt, nên chân yến cực kì vững chắc để bảo vệ trứng và chim con khỏi những cơn gió
                                                                | mạnh.
                                                            p
                                                                | Tổ yến đảo khá đa dạng về màu sắc, từ trắng, vàng, cam hoặc cả tổ yến màu đỏ. Đây là hiện tượng tổ yến bị lên men do tiếp
                                                                | xúc với những khoáng chất trong vách núi cùng với độ ẩm và ánh sáng đặc thù từng vùng.
                                                            p
                                                                | Nhiều người cho rằng tổ yến càng đậm màu thì giá trị dinh dưỡng càng cao, tuy nhiên điều này chỉ đúng một
                                                                | phần.
                                                            p
                                                                | Milany đã xem qua nhiều phân tích cho thấy khá nhiều tổ yến đảo bị lên màu đỏ là do tiếp xúc với phân chim
                                                                | trong thời gian dài nên bị nhiễm nitrit, điều này khiến tổ yến từ giàu dinh dưỡng lại trở thành loại thực phẩm tích tụ độc tố
                                                                | gây nguy hiểm cho sức khoẻ.
                                                        .ladi-paragraph  
                                                        .tubo-media-item
                                                            img.lazy-load-active(title='yen-dao-milany-2' src='wp-content/uploads/2025/04/yen-dao-milany-2.jpg' alt='yen dao' width='1042' height='545' data-src='wp-content/uploads/2025/04/yen-dao-milany-2.jpg')
                                                        .tubo-media-item  
                                                        p
                                                            strong Yến nhà ( yến nuôi):
                                                            br
                                                        #BOX4889.ladi-element
                                                            #PARAGRAPH4895.ladi-element
                                                                .ladi-paragraph
                                                                    | Yến nhà đa số có hình cánh sen rất đều nhau, một số tổ nằm ở vị trí góc tường hoặc đà gỗ sẽ có
                                                                    | hình góc vuông 90 độ. So với yến đảo thì tổ yến nhà to hơn, trọng lượng lớn hơn do môi trường sống an toàn kín
                                                                    | gió, nguồn thức ăn dồi dào xung quanh nhà yến.  
                                                                    p
                                                                        | Thời gian làm tổ trong nhà yến sẽ nhanh hơn thời gian của tổ yến đảo, vì vậy kết cấu tổ yến khá mỏng nhẹ, sợi yến (nhìn kĩ
                                                                        | bên trong bụng tổ) sẽ thấy kết cấu khá rời rạc, thưa sợi.
                                                                    p
                                                                        | Milany đánh giá đối với yến nhà, nên chọn tổ yến có màu trắng, mặt tổ đưa ra nắng có độ bóng nhẹ, sợi đều
                                                                        | không bị trương phồng là tổ yến mới, thơm ngon. Yến nhà để quá lâu sẽ có hiện tượng mất độ bóng, sợi chuyển
                                                                        | thành trắng đục như sữa, bảo quản sai cách còn khiến tổ chuyển sang vàng, cam,…
                                                                    p
                                                                        | Rất nhiều khách hàng đánh giá cao yến chuyển màu tuy nhiên đối với yến nhà, nên hạn chế ăn những tổ yến bị
                                                                        | oxy hoá như vậy vì hầu như không còn dưỡng chất hoặc dính vi khuẩn, nấm mốc quá nhiều.
                                                                .ladi-paragraph  
                                                                .tubo-media-item
                                                                    img.lazy-load-active(title='yen-nha-milany-1' src='wp-content/uploads/2025/04/yen-nha-milany-1.jpg' alt='yen nha' width='1042' height='545' data-src='wp-content/uploads/2025/04/yen-nha-milany-1.jpg')
                                                                p  
                                                                p
                                                                    strong VỀ MÙI VỊ:
                                        .read-more-btn.more
                                            | Xem thêm 
                                            i.fa-solid.fa-caret-down
                                        .read-more-btn.hide
                                            | Ẩn bớt nội dung 
                                            i.fa-solid.fa-caret-up
                                    #promotion.tab-pane.position-relative.fade(role='tabpanel' aria-labelledby='promotion-tab')
                                        .content
                                            | Mời bạn cùng Milany cập nhật những thông tin mới nhất về yến đảo trong bài này để có góc nhìn chính xác hơn khi chọn mua yến đảo nhé!
                                        .read-more-btn.more
                                            | Xem thêm 
                                            i.fa-solid.fa-caret-down
                                        .read-more-btn.hide
                                            | Ẩn bớt nội dung 
                                            i.fa-solid.fa-caret-up
                                    #use.tab-pane.position-relative.fade(role='tabpanel' aria-labelledby='use-tab')
                                        .content
                                            p
                                                | Ngay cả việc mua yến nuôi bạn cũng phải cân nhắc và tìm hiểu thật kỹ cách nhận biết yến Việt chất lượng, vì trên thị trường hiện nay cũng
                                                | nhan nhản những kênh bán yến giả từ mủ trôm, nấm tuyết với giá vài trăm nghìn đồng / lạng, hoặc yến nhập kém chất lượng từ Indonesia,
                                                | Malaysia với giá tương đương yến Việt nhưng dinh dưỡng và hạn dùng hoàn toàn không đảm bảo.
                                            p
                                                | Milany sau rất nhiều trăn trở và đấu tranh với thị trường tổ yến rất nhập nhằn, hiện nay đã khẳng định được uy tín của mình bằng sản phẩm yến Việt 100%
                                                | nguyên chất, bao test và kiểm định chất lượng. Nếu đã mất tiền triệu cho 1 lạng yến và sử dụng cho sức khoẻ, Milany mong bạn hãy thật thông
                                                | thái và mua đúng sản phẩm yến Việt để tránh tiền mất tật mang, rước hoạ vào thân.
                                        .read-more-btn.more
                                            | Xem thêm 
                                            i.fa-solid.fa-caret-down
                                        .read-more-btn.hide
                                            | Ẩn bớt nội dung 
                                            i.fa-solid.fa-caret-up
                                    #review.tab-pane.position-relative.fade(role='tabpanel' aria-labelledby='review-tab')
                                        .content
                                            .text-center
                                                | Bạn hãy
                                                span.btn-dang-nhap.btn-dang-nhap-user Đăng nhập
                                                |                                                         để đánh giá sản phẩm này.
                                            .list-review
                                        .read-more-btn.more
                                            | Xem thêm 
                                            i.fa-solid.fa-caret-down
                                        .read-more-btn.hide
                                            | Ẩn bớt nội dung 
                                            i.fa-solid.fa-caret-up
                        .background-content.mt-12
                            .container
                                .row.infomation
                                    .col-12.p-0
                                        #comment.comment
                                            h2 Bình luận
                                            .cmt_list_box
                                                ul
                                            p(style='color: green;')
                                            form(method='POST' action='san-pham/comment' accept-charset='UTF-8' enctype='multipart/form-data')
                                                input(name='_token' type='hidden' value='ozEWqNPfHifKetk0Ksd7sIAxSw6VvMQ2dmFabuHA')
                                                .cmt_input
                                                    textarea(placeholder='Mời bạn tham gia thảo luận, vui lòng nhập tiếng Việt có dấu.' name='content_comment' required)
                                                .cmt_form_bottom
                                                    .cmt_radio
                                                        label
                                                            input(name='gender' type='radio' value='0' checked)
                                                            span Anh
                                                        label
                                                            input(name='gender' type='radio' value='1')
                                                            span Chị
                                                    .cmt_input
                                                        input(name='author' type='text' value placeholder='Họ tên (bắt buộc)' required)
                                                    .cmt_input
                                                        input(name='phone' type='text' value aria-required='false' placeholder='SĐT (tùy chọn)')
                                                    .cmt_input
                                                        input(name='email' type='text' value placeholder='Email (tùy chọn)')
                                                    .cmt_submit
                                                        button#cmt_submit(type='submit')
                                                            | Gửi
                                                        input(type='hidden' value='358' name='product_id')
                                                        input(type='hidden' value='to-yen-dao' name='product_slug')
                                                        input(type='hidden' value name='parent_id')
                        //- .background-content.p-b-0
                        .bg-white.rounded-8.box-shadow.mt-12.px-8px.pb-12.box-shadow
                            +home_product_list('','SẢN PHẨM CÙNG CHUYÊN MỤC','product_related')
                        .bg-white.rounded-8.box-shadow.mt-12.px-8px.pb-12.box-shadow
                            +home_product_list('','SẢN PHẨM MỚI','product_new')
                       
                    .col-12.col-xl-3.col-lg-12.sidebar.d-none.d-lg-block.max-lg-mt-12.lg-pl-0
                        .background-sidebar
                            .col-12
                                h5.title-sidebar SẢN PHẨM BÁN CHẠY
                                .product_list_sidebar
                                    .row
                                        .col-12.col-xl-12.col-md-6
                                            a.d-flex.align-items-center.product(href='nhang-tram-huong-nu-nt03')
                                                .col-4
                                                    img.image(src='admin/public/images/product/1734080234715.webp' alt='Nhang Trầm Hương Nụ NT03' width='100%')
                                                .col-8
                                                    h5.title Nhang Trầm Hương Nụ NT03
                                                    span.price  2.050.000 đ 
                                        .col-12.col-xl-12.col-md-6
                                            a.d-flex.align-items-center.product(href='nhang-tram-huong-nu-nt01')
                                                .col-4
                                                    img.image(src='admin/public/images/product/1734080130973.webp' alt='Nhang Trầm Hương Nụ NT01' width='100%')
                                                .col-8
                                                    h5.title Nhang Trầm Hương Nụ NT01
                                                    span.price  Liên hệ 
                                        .col-12.col-xl-12.col-md-6
                                            a.d-flex.align-items-center.product(href='tinh-dau-tram-huong-loai-2-td-002')
                                                .col-4
                                                    img.image(src='admin/public/images/product/1734079909853.webp' alt='Tinh Dầu Trầm Hương loại 2- TD-002' width='100%')
                                                .col-8
                                                    h5.title
                                                        | Tinh Dầu Trầm Hương loại 2- TD-002
                                                    span.price  350.000 đ 
                                        .col-12.col-xl-12.col-md-6
                                            a.d-flex.align-items-center.product(href='yen-tinh-che-soi-ngan')
                                                .col-4
                                                    img.image(src='admin/public/images/product/1737099864696-Yến-tươi-sơ-chế-sạch-lông-(cấp-đông-chia-túi-zip).jpg' alt='Yến tinh chế sợi ngắn' width='100%')
                                                .col-8
                                                    h5.title Yến tinh chế sợi ngắn
                                                    span.price  400.000 đ 
                                        .col-12.col-xl-12.col-md-6
                                            a.d-flex.align-items-center.product(href='nhang-tram-huong-nu-bup-sen-nt07a')
                                                .col-4
                                                    img.image(src='admin/public/images/product/1734080096632.webp' alt='Nhang Trầm Hương Nụ Búp Sen- NT07A' width='100%')
                                                .col-8
                                                    h5.title
                                                        | Nhang Trầm Hương Nụ Búp Sen- NT07A
                                                    span.price  Liên hệ 
                                        .col-12.col-xl-12.col-md-6
                                            a.d-flex.align-items-center.product(href='yen-chung-saffron')
                                                .col-4
                                                    img.image(src='admin/public/images/product/1747817721222 Yến Chưng Saffron.jpg' alt='Yến Chưng Saffron' width='100%')
                                                .col-8
                                                    h5.title Yến Chưng Saffron
                                                    span.price  40.000.000 đ 
                                        .col-12.col-xl-12.col-md-6
                                            a.d-flex.align-items-center.product(href='tinh-dau-tram-huong-limited-edition')
                                                .col-4
                                                    img.image(src='admin/public/images/product/173407987732.webp' alt='Tinh Dầu Trầm Hương Limited Edition' width='100%')
                                                .col-8
                                                    h5.title
                                                        | Tinh Dầu Trầm Hương Limited Edition
                                                    span.price  200.000 đ 
                                        .col-12.col-xl-12.col-md-6
                                            a.d-flex.align-items-center.product(href='to-yen-dao')
                                                .col-4
                                                    img.image(src='admin/public/images/product/174781745597to yen dao.jpg' alt='Tổ Yến Đảo' width='100%')
                                                .col-8
                                                    h5.title Tổ Yến Đảo
                                                    span.price  180.000 đ 
                        .background-sidebar
                            .col-12.social
                                h5.title-sidebar.social-title
                                    | KẾT NỐI MẠNG XÃ HỘI
                                .social-content.mt-12
                                    ul.d-flex.flex-wrap
                                        li
                                            a(href='https://www.facebook.com/profile.php?id=61561181273584' style='color: #1773ea;')
                                                i.fa-brands.fa-square-facebook
                                        li
                                            a(href='https://www.google.com' style='color: #d64a37;')
                                                i.fa-brands.fa-square-google-plus
                                        li
                                            a(href='https://www.youtube.com' style='color: #f70000;')
                                                i.fa-brands.fa-square-youtube
                                        li
                                            a(href='https://www.zalo.me/0853111555' aria-label='zalo')
                                                svg(xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='40' height='44' viewBox='0 0 50 50' style='fill: #0963f2;')
                                                    path(d='M 9 4 C 6.2504839 4 4 6.2504839 4 9 L 4 41 C 4 43.749516 6.2504839 46 9 46 L 41 46 C 43.749516 46 46 43.749516 46 41 L 46 9 C 46 6.2504839 43.749516 4 41 4 L 9 4 z M 9 6 L 15.580078 6 C 12.00899 9.7156859 10 14.518083 10 19.5 C 10 24.66 12.110156 29.599844 15.910156 33.339844 C 16.030156 33.549844 16.129922 34.579531 15.669922 35.769531 C 15.379922 36.519531 14.799687 37.499141 13.679688 37.869141 C 13.249688 38.009141 12.97 38.430859 13 38.880859 C 13.03 39.330859 13.360781 39.710781 13.800781 39.800781 C 16.670781 40.370781 18.529297 39.510078 20.029297 38.830078 C 21.379297 38.210078 22.270625 37.789609 23.640625 38.349609 C 26.440625 39.439609 29.42 40 32.5 40 C 36.593685 40 40.531459 39.000731 44 37.113281 L 44 41 C 44 42.668484 42.668484 44 41 44 L 9 44 C 7.3315161 44 6 42.668484 6 41 L 6 9 C 6 7.3315161 7.3315161 6 9 6 z M 33 15 C 33.55 15 34 15.45 34 16 L 34 25 C 34 25.55 33.55 26 33 26 C 32.45 26 32 25.55 32 25 L 32 16 C 32 15.45 32.45 15 33 15 z M 18 16 L 23 16 C 23.36 16 23.700859 16.199531 23.880859 16.519531 C 24.050859 16.829531 24.039609 17.219297 23.849609 17.529297 L 19.800781 24 L 23 24 C 23.55 24 24 24.45 24 25 C 24 25.55 23.55 26 23 26 L 18 26 C 17.64 26 17.299141 25.800469 17.119141 25.480469 C 16.949141 25.170469 16.960391 24.780703 17.150391 24.470703 L 21.199219 18 L 18 18 C 17.45 18 17 17.55 17 17 C 17 16.45 17.45 16 18 16 z M 27.5 19 C 28.11 19 28.679453 19.169219 29.189453 19.449219 C 29.369453 19.189219 29.65 19 30 19 C 30.55 19 31 19.45 31 20 L 31 25 C 31 25.55 30.55 26 30 26 C 29.65 26 29.369453 25.810781 29.189453 25.550781 C 28.679453 25.830781 28.11 26 27.5 26 C 25.57 26 24 24.43 24 22.5 C 24 20.57 25.57 19 27.5 19 z M 38.5 19 C 40.43 19 42 20.57 42 22.5 C 42 24.43 40.43 26 38.5 26 C 36.57 26 35 24.43 35 22.5 C 35 20.57 36.57 19 38.5 19 z M 27.5 21 C 27.39625 21 27.29502 21.011309 27.197266 21.03125 C 27.001758 21.071133 26.819727 21.148164 26.660156 21.255859 C 26.500586 21.363555 26.363555 21.500586 26.255859 21.660156 C 26.148164 21.819727 26.071133 22.001758 26.03125 22.197266 C 26.011309 22.29502 26 22.39625 26 22.5 C 26 22.60375 26.011309 22.70498 26.03125 22.802734 C 26.051191 22.900488 26.079297 22.994219 26.117188 23.083984 C 26.155078 23.17375 26.202012 23.260059 26.255859 23.339844 C 26.309707 23.419629 26.371641 23.492734 26.439453 23.560547 C 26.507266 23.628359 26.580371 23.690293 26.660156 23.744141 C 26.819727 23.851836 27.001758 23.928867 27.197266 23.96875 C 27.29502 23.988691 27.39625 24 27.5 24 C 27.60375 24 27.70498 23.988691 27.802734 23.96875 C 28.487012 23.82916 29 23.22625 29 22.5 C 29 21.67 28.33 21 27.5 21 z M 38.5 21 C 38.39625 21 38.29502 21.011309 38.197266 21.03125 C 38.099512 21.051191 38.005781 21.079297 37.916016 21.117188 C 37.82625 21.155078 37.739941 21.202012 37.660156 21.255859 C 37.580371 21.309707 37.507266 21.371641 37.439453 21.439453 C 37.303828 21.575078 37.192969 21.736484 37.117188 21.916016 C 37.079297 22.005781 37.051191 22.099512 37.03125 22.197266 C 37.011309 22.29502 37 22.39625 37 22.5 C 37 22.60375 37.011309 22.70498 37.03125 22.802734 C 37.051191 22.900488 37.079297 22.994219 37.117188 23.083984 C 37.155078 23.17375 37.202012 23.260059 37.255859 23.339844 C 37.309707 23.419629 37.371641 23.492734 37.439453 23.560547 C 37.507266 23.628359 37.580371 23.690293 37.660156 23.744141 C 37.739941 23.797988 37.82625 23.844922 37.916016 23.882812 C 38.005781 23.920703 38.099512 23.948809 38.197266 23.96875 C 38.29502 23.988691 38.39625 24 38.5 24 C 38.60375 24 38.70498 23.988691 38.802734 23.96875 C 39.487012 23.82916 40 23.22625 40 22.5 C 40 21.67 39.33 21 38.5 21 z')
            
                
        .row.mt-12
            .col-12
                .background-content.p-0
                    .brand-list.item_frame.p-0
                        .item_frame_background
                            .item_frame_content
                                .row.align-items-center
                                    .col-12.col-md-2.brand-title.d-flex.align-items-center
                                        | THƯƠNG HIỆU
                                        i.fa.fa-angle-right
                                    .col-12.col-md-10
                                        .row.brand-content
                                            // <button class="prev-btn"><i class="fa fa-angle-left"></i></button>
                                            .flex-1.swiper.brandSwiper
                                                div
                                                    a.swiper-slide(href='toyota-1711435132')
                                                        img.image(loading='lazy' src='admin/public/images/brand/171143513244TOYOTA.jpg' alt='TOYOTA')
                                                div
                                                    a.swiper-slide(href='suzuki-1711435143')
                                                        img.image(loading='lazy' src='admin/public/images/brand/171143514356SUZUKI.jpg' alt='SUZUKI')
                                                div
                                                    a.swiper-slide(href='subaru-1711435152')
                                                        img.image(loading='lazy' src='admin/public/images/brand/171143515295SUBARU.jpg' alt='SUBARU')
                                                div
                                                    a.swiper-slide(href='nissan-1711435168')
                                                        img.image(loading='lazy' src='admin/public/images/brand/171143516872NISSAN.jpg' alt='NISSAN')
                                                div
                                                    a.swiper-slide(href='mitsubishi-1711435176')
                                                        img.image(loading='lazy' src='admin/public/images/brand/171143517699MITSUBISHI.jpg' alt='MITSUBISHI')
                                                div
                                                    a.swiper-slide(href='mercedes-1711435189')
                                                        img.image(loading='lazy' src='admin/public/images/brand/171143518946MERCEDES.jpg' alt='MERCEDES')
                                                div
                                                    a.swiper-slide(href='mazda-1711435200')
                                                        img.image(loading='lazy' src='admin/public/images/brand/17114352001mazda-logo-2015-2018-700x394.png' alt='MAZDA')
                                                div
                                                    a.swiper-slide(href='lexus-1711435210')
                                                        img.image(loading='lazy' src='admin/public/images/brand/171143521059LEXUS.jpg' alt='LEXUS')
                                        // <button class="next-btn"><i class="fa fa-angle-right"></i></button>
    .blog_list.contact.mt-12(style="background-color: #ffffff; background-image: url('admin/public/images/homeSetting/171550262927/Lien-he.jpg');")
        .container
            .title_section(style='color: #000000 !important; text-align: center;')
                p Liên Hệ Với Chúng Tôi
            .row.justify-content-center
                .col-md-10
                    .content.margin-bottom-20
                        .row
                            .col-12.col-xl-6.contact-content
                                .phone.d-flex.margin-bottom-40
                                    .icon
                                        i.fa.fa-home(aria-hidden='true')
                                    .home-content.d-flex.align-items-center
                                        b Yến Sạch Hoàng Đức
                                .phone.d-flex.margin-bottom-40
                                    .icon
                                        i.fa.fa-phone(aria-hidden='true')
                                    .phone-content
                                        b Điện thoại
                                        p 0847 865 568
                                .email.d-flex.margin-bottom-40
                                    .icon
                                        i.fa.fa-envelope(aria-hidden='true')
                                    .email-content
                                        b Email
                                        p mrquan.thietkeweb365.vn@gmail.com
                                .address.d-flex.margin-bottom-40
                                    .icon
                                        i.fa.fa-map-marker(aria-hidden='true')
                                    .address-content
                                        b Địa chỉ
                                        p
                                            | Số 63 Tông Đản, Phường Kinh Bắc, TP. Bắc Ninh, Bắc Ninh
                            .col-12.col-xl-6
                                form#form-contact.contact-form(action='lien-he/gui' method='post')
                                    .row
                                        .contact-error.text-center
                                    .row
                                        .col-md-6
                                            .form-group
                                                input#name.form-control.input-style-2(type='text' name='name' placeholder='Họ tên *')
                                                span.alert.alert-error
                                        .col-md-6
                                            .form-group
                                                input#phone.form-control.input-style-2(type='text' name='phone' placeholder='Số điện thoại *')
                                                span.alert.alert-error
                                        .col-md-6
                                            .form-group
                                                input#email.form-control.input-style-2(type='email' name='email' placeholder='Email')
                                                span.alert.alert-error
                                        .col-md-6
                                            .form-group
                                                input#web.form-control.input-style-2(type='text' name='link' placeholder='Địa chỉ')
                                                span.alert.alert-error
                                        .col-md-12
                                            textarea#comment.form-control.input-style-2(name='content' placeholder='Nội dung' cols='30' rows='5')
                                            .contact-sub-btn.text-center.margin-top-20
                                                button.btn.header-background-text-color.btn-submit(type='button' name='submit')
                                                    b Gửi yêu cầu
    #consultModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog.modal-lg.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Yêu cầu tư vấn
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    .container-fluid
                        .row
                            .col-12.col-sm-6.margin-bottom-20
                                img(loading='lazy' width='100%' src='admin/public/images/product/174781745597to yen dao.jpg' alt='Tổ Yến Đảo')
                                h6.margin-top-20 Tổ Yến Đảo
                            .col-12.col-sm-6
                                form#form-contact-modal.contact-form(action='lien-he/gui' method='post')
                                    .row
                                        .contact-error.text-center
                                    .row
                                        .col-12
                                            .form-group
                                                input#name.form-control.input-style-2(type='text' name='name' value placeholder='Tên của bạn')
                                                span.alert.alert-error
                                        .col-12
                                            .form-group
                                                input#phone.form-control.input-style-2(type='text' name='phone' value placeholder='Số điện thoại *')
                                                span.alert.alert-error
                                        .col-12
                                            .form-group
                                                input#email.form-control.input-style-2(type='email' name='email' value placeholder='Email')
                                                span.alert.alert-error
                                        .col-12
                                            .form-group
                                                input#subject.form-control.input-style-2(type='text' name='subject' value='Tổ Yến Đảo' placeholder='Subject *')
                                                span.alert.alert-error
                                        .col-12
                                            textarea#comment.form-control.input-style-2(name='content' placeholder='Nội dung' cols='30' rows='5')
                                            .contact-sub-btn.margin-top-20
                                                input#web.form-control.input-style-2(type='hidden' name='link' value='to-yen-dao' placeholder='Website trang này')
                                                button#btn-consult.btn.header-background-text-color(type='button')
                                                    b Gửi yêu cầu
    #consultModalSuccess.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    .d-flex
                        .text-center
                            p
                                | Bạn đã gửi yêu cầu thành công, chúng tôi sẽ liên hệ lại sớm nhất.
                            p Cảm ơn quý khách!
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close' style='margin-left: 10px;')
    #errorModal.modal(tabindex='-1' role='dialog')
        | .header-bottom .mobile-menu>.navbar-nav>.nav-item
        .modal-dialog(role='document')
            .modal-content.animated.zoomIn.faster
                .modal-header.modal-header-error
                    h4#titleError.modal-title
                .modal-body
                    p#msgError.text-center
                #btnError.modal-footer
                    button.btn.btn-success(type='button' data-bs-dismiss='modal')
                        | OK
    #id_load_light.div_white_content
        .white_content
            i.fa.fa-refresh.fa-spin(style='font-size: 50px; color: #fff;')
    #loginModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Đăng nhập
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .login-error.text-center
                    form#form-login.form-horizontal(method='POST' action='dang-nhap-tai-khoan')
                        input(type='hidden' name='_token' value='ozEWqNPfHifKetk0Ksd7sIAxSw6VvMQ2dmFabuHA')
                        .form-group
                            label.control-label(for='account') Tên đăng nhập
                            input#account.form-control(type='text' name='account' value required autofocus)
                        .form-group
                            label.control-label(for='password') Mật khẩu
                            input#password.form-control(type='password' name='password' required)
                        .form-group
                            .col-md-6.col-md-offset-4
                                .checkbox
                                    label
                                        input(type='checkbox' name='remember')
                                        |  Ghi nhớ tài khoản
                        br
                        .form-group.text-center
                            div
                                button#btn-login.btn.btn-primary(type='button')
                                    | Đăng nhập
                                a.btn.btn-sm.btn-danger(type='button' href='login/google')
                                    i.fa-brands.fa-google
                                a.btn.btn-sm.btn-primary(type='button' href='login/facebook')
                                    i.fa-brands.fa-facebook
                                br
                                p.margin-top-20
                                    | Bạn chưa có tài khoản,
                                    a.btn.btn-link(href='dang-ky-tai-khoan' style='padding: 0;') BẤM ĐÂY
                                    |                                             để đăng ký mới
mixin js_product_detail()
    script.
        sliderList(".product_related", 4, 4, 1);
        sliderList(".product_new", 4, 4, 1);